node-red/flows.json
[
    {
        "id": "96cd1986.8f4a98",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dcd2560.88883a8",
        "type": "tab",
        "label": "Outdoors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c9917d82.0f2bb",
        "type": "tab",
        "label": "Kitchen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7dd54ef.2d2f48",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "929b77d6.89d318",
        "type": "tab",
        "label": "Study",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d39e8a2.e45e18",
        "type": "tab",
        "label": "Laundry Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d736294e.f02228",
        "type": "tab",
        "label": "Master Bedroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2df69a17.a6a286",
        "type": "tab",
        "label": "Misc",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce20f928.4bec78",
        "type": "subflow",
        "name": "Match Lamps to Ceiling Fan Light",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 75,
                "wires": [
                    {
                        "id": "eea2cd84.ae7e7"
                    }
                ]
            }
        ],
        "out": [],
        "env": []
    },
    {
        "id": "fdb32abc.0fae78",
        "type": "subflow",
        "name": "Lower Brightness",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 45,
                "y": 200,
                "wires": [
                    {
                        "id": "51da740.985088c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 670,
                "y": 125,
                "wires": [
                    {
                        "id": "19e7891b.776467",
                        "port": "0"
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "3f8141f0.1bdbae",
        "type": "subflow",
        "name": "Raise Brightness",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 45,
                "y": 175,
                "wires": [
                    {
                        "id": "b2201753.bcc948"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 725,
                "y": 125,
                "wires": [
                    {
                        "id": "76e3293a.cfd148",
                        "port": "0"
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "56e651e8.b2b28",
        "type": "subflow",
        "name": "RSS Updates",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 995,
                "y": 400,
                "wires": [
                    {
                        "id": "f17d6b6f.d72838",
                        "port": 0
                    },
                    {
                        "id": "58775653.2493d8",
                        "port": 0
                    },
                    {
                        "id": "ed0120bf.8e382",
                        "port": 0
                    },
                    {
                        "id": "f4092a7e.682908",
                        "port": 0
                    },
                    {
                        "id": "79570869.5f9fa8",
                        "port": 0
                    },
                    {
                        "id": "86a37471.563048",
                        "port": 0
                    },
                    {
                        "id": "2d0f5d28.7e3ec2",
                        "port": 0
                    },
                    {
                        "id": "5b479ef5.953b8",
                        "port": 0
                    },
                    {
                        "id": "e94a9dab.3043e",
                        "port": 0
                    },
                    {
                        "id": "b575230a.48a4f",
                        "port": 0
                    },
                    {
                        "id": "73d7322e.02ae7c",
                        "port": 0
                    },
                    {
                        "id": "3d566143.23c98e",
                        "port": 0
                    },
                    {
                        "id": "a7350855.026988",
                        "port": 0
                    },
                    {
                        "id": "609d44d3.d8456c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "851a8282.3df38",
        "type": "subflow",
        "name": "Get Kelvin",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "17dad58c.27749a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 80,
                "wires": [
                    {
                        "id": "17dad58c.27749a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "dbd7e060.40c7f",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "a8a45da5.6405f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d396e237.bd685",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Toggle Front Yard Lights",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_{{ payload }}",
        "entityId": "light.front_yard_light_group",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 285,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "8c6b096d.3a15d8",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn On Lamp Group",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.master_bedroom",
        "data": "{\"brightness\":255,\"transition\":2,\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 575,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "275224c7.67874c",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Lamp Group",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.master_bedroom",
        "data": "{\"transition\":2}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e9550a35.037488",
        "type": "api-call-service",
        "z": "3f8141f0.1bdbae",
        "name": "Turn Up Lamp Group",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "",
        "data": "{\"brightness\":\"{{ payload }}\",\"entity_id\":\"{{ light }}\",\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 950,
        "y": 200,
        "wires": [
            [
                "ce0e563b.6e58d8"
            ]
        ]
    },
    {
        "id": "2f68f9c1.c36856",
        "type": "api-render-template",
        "z": "3f8141f0.1bdbae",
        "name": "Get Next Brightness",
        "server": "dbd7e060.40c7f",
        "template": "",
        "resultsLocation": "payload",
        "resultsLocationType": "msg",
        "templateLocation": "template",
        "templateLocationType": "msg",
        "x": 525,
        "y": 225,
        "wires": [
            [
                "c6521e22.99423"
            ]
        ]
    },
    {
        "id": "76e3293a.cfd148",
        "type": "api-current-state",
        "z": "3f8141f0.1bdbae",
        "name": "Quit if Remote Value Changed",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "8",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 505,
        "y": 125,
        "wires": [
            [],
            [
                "2a23791b.51d4d6"
            ]
        ]
    },
    {
        "id": "ce0e563b.6e58d8",
        "type": "delay",
        "z": "3f8141f0.1bdbae",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 75,
        "wires": [
            [
                "bd7128f0.46df48"
            ]
        ]
    },
    {
        "id": "4b51f5df.3f36bc",
        "type": "trigger-state",
        "z": "a7dd54ef.2d2f48",
        "name": "Living Room Pico",
        "server": "dbd7e060.40c7f",
        "entityid": "sensor.living_room_.*_pico",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "id": "4uz2ek5kmva",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "0"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 7,
        "customoutputs": [
            {
                "outputId": "6tp4ha9cjhw",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "1"
            },
            {
                "outputId": "0f22gsoj6n7h",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "8"
            },
            {
                "outputId": "3act32owv9p",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "2"
            },
            {
                "outputId": "qzvwmqopicm",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "16"
            },
            {
                "outputId": "hql73ovayp",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "4"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 165,
        "y": 450,
        "wires": [
            [],
            [],
            [
                "c61d6082.014e4"
            ],
            [
                "c86bc459.0748e8"
            ],
            [
                "ecbe7f17.3f08c"
            ],
            [
                "c5ebf210.f2f67"
            ],
            [
                "f52f122a.f7f73"
            ]
        ]
    },
    {
        "id": "ecbe7f17.3f08c",
        "type": "api-call-service",
        "z": "a7dd54ef.2d2f48",
        "name": "Toggle TV Power",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "media_player",
        "service": "toggle",
        "entityId": "media_player.sony_bravia_tv",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 439,
        "y": 464,
        "wires": [
            []
        ]
    },
    {
        "id": "3f04281e.5c8338",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Match Brightness on Kitchen Sink Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.kitchen_sink_light",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 530,
        "y": 130,
        "wires": [
            []
        ]
    },
    {
        "id": "af081c7c.26015",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Turn Off Kitchen Sink Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.kitchen_sink_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 490,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "f9944a12.e1f308",
        "type": "switch",
        "z": "d736294e.f02228",
        "name": "",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^binary_sensor.wall_switch_left",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^binary_sensor.wall_switch_both",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^binary_sensor.wall_switch_right",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 225,
        "y": 1075,
        "wires": [
            [
                "56e36b4c.012a54"
            ],
            [
                "56e36b4c.012a54",
                "35df2336.1acc5c"
            ],
            [
                "35df2336.1acc5c"
            ]
        ]
    },
    {
        "id": "56e36b4c.012a54",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Toggle Liv Lamp",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "toggle",
        "entityId": "light.master_bedroom_liv_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 405,
        "y": 1025,
        "wires": [
            []
        ]
    },
    {
        "id": "35df2336.1acc5c",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Toggle Gabe Lamp",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "toggle",
        "entityId": "light.master_bedroom_gabe_lamp",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 415,
        "y": 1125,
        "wires": [
            []
        ]
    },
    {
        "id": "94e6539a.7d548",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Set Lamp Group to 50%",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.master_bedroom_lamp_group",
        "data": "{\"brightness_pct\":\"50\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a83c3045.bbf12",
        "type": "api-call-service",
        "z": "ce20f928.4bec78",
        "name": "Match Lamps to Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.master_bedroom_lamp_group",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\",\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "6a74535a.1affbc"
            ]
        ]
    },
    {
        "id": "8544a2f5.50b38",
        "type": "trigger-state",
        "z": "ce20f928.4bec78",
        "name": "Ceiling Fan Light Status Changed",
        "server": "dbd7e060.40c7f",
        "entityid": "light.master_bedroom_ceiling_fan_light",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 465,
        "y": 75,
        "wires": [
            [
                "7d4c7410.7a4aac"
            ],
            []
        ]
    },
    {
        "id": "eea2cd84.ae7e7",
        "type": "change",
        "z": "ce20f928.4bec78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enable",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 75,
        "wires": [
            [
                "8544a2f5.50b38"
            ]
        ]
    },
    {
        "id": "6a74535a.1affbc",
        "type": "change",
        "z": "ce20f928.4bec78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "disable",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 775,
        "y": 260,
        "wires": [
            [
                "8544a2f5.50b38"
            ]
        ]
    },
    {
        "id": "e5e814f3.e20cb8",
        "type": "api-call-service",
        "z": "5d39e8a2.e45e18",
        "name": "Set State to Running",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"hass/state/washer\",\"payload\":\"Running\",\"retain\":\"true\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 600,
        "y": 250,
        "wires": [
            []
        ]
    },
    {
        "id": "81d8576b.17b8e8",
        "type": "api-call-service",
        "z": "5d39e8a2.e45e18",
        "name": "Set State to Idle",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"hass/state/washer\",\"payload\":\"Idle\",\"retain\":\"true\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 980,
        "y": 275,
        "wires": [
            []
        ]
    },
    {
        "id": "8a70b2b2.a8444",
        "type": "api-call-service",
        "z": "5d39e8a2.e45e18",
        "name": "Say The Thing",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "rest_command",
        "service": "assistant_relay",
        "entityId": "",
        "data": "{\"message\":\"{{{ payload }}}\",\"broadcast\":true}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1230,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "52811ee1.c19c",
        "type": "trigger-state",
        "z": "5d39e8a2.e45e18",
        "name": "When Washer Wattage Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "sensor.washer_power",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "r4okx4urvvd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "8zbk8qmw0g2",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": ">",
                "comparatorValue": "8"
            },
            {
                "outputId": "mwr7dmlwyun",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "<=",
                "comparatorValue": "8"
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 180,
        "y": 275,
        "wires": [
            [],
            [],
            [
                "c52bb784.466448"
            ],
            [
                "f339d560.6778d8"
            ]
        ]
    },
    {
        "id": "f44a2de7.01c0d",
        "type": "function",
        "z": "5d39e8a2.e45e18",
        "name": "Pick Random Message",
        "func": "let messages = [\n    'The laundry is done.',\n    'Hey, the washer is done!'\n]\nmsg.payload = messages[Math.floor(Math.random() * messages.length)]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 325,
        "wires": [
            [
                "8a70b2b2.a8444",
                "6f88012c.a5f42"
            ]
        ]
    },
    {
        "id": "d592205a.647da",
        "type": "server-state-changed",
        "z": "d736294e.f02228",
        "name": "Heater Turned On",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "entityidfilter": "switch.master_bedroom_fireplace",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 129,
        "y": 472,
        "wires": [
            [
                "7dbe8801.ac11f8"
            ]
        ]
    },
    {
        "id": "7dbe8801.ac11f8",
        "type": "trigger",
        "z": "d736294e.f02228",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "units": "hr",
        "reset": "off",
        "bytopic": "all",
        "name": "",
        "x": 334,
        "y": 472,
        "wires": [
            [
                "16bbfc1b.0ddb64"
            ]
        ]
    },
    {
        "id": "16bbfc1b.0ddb64",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Heater",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.master_bedroom_fireplace",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 519,
        "y": 472,
        "wires": [
            []
        ]
    },
    {
        "id": "53b2071d.35f228",
        "type": "server-state-changed",
        "z": "dcd2560.88883a8",
        "name": "Side Door Light Changes",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "entityidfilter": "light.side_yard_light",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 185,
        "y": 375,
        "wires": [
            [
                "8f83339e.7ccae"
            ]
        ]
    },
    {
        "id": "8f83339e.7ccae",
        "type": "trigger",
        "z": "dcd2560.88883a8",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "15",
        "extend": false,
        "units": "min",
        "reset": "off",
        "bytopic": "all",
        "name": "",
        "x": 395,
        "y": 375,
        "wires": [
            [
                "b6527af.9d94f88"
            ]
        ]
    },
    {
        "id": "b6527af.9d94f88",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Turn Off Side Door Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.side_yard_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 610,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "d463a327.cb14d",
        "type": "trigger-state",
        "z": "c9917d82.0f2bb",
        "name": "Coffee Maker State Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "sensor.coffee_maker_power",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ssku5gsgheg",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "unavailable"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "1kfzjr44pxf",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": ">=",
                "comparatorValue": "15"
            },
            {
                "outputId": "q17h9eh24h9",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "<",
                "comparatorValue": "15"
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 170,
        "y": 400,
        "wires": [
            [],
            [],
            [
                "de383de8.cf5cc"
            ],
            [
                "652457b8.3c2458"
            ]
        ]
    },
    {
        "id": "de383de8.cf5cc",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Set State to Brewing",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"hass/state/coffee\",\"payload\":\"Brewing\",\"retain\":\"true\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 425,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "9aee4270.351d",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Set State to Idle",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"hass/state/coffee\",\"payload\":\"Idle\",\"retain\":\"true\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 805,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "4b55a81f.bc95f8",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Say The Thing",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "rest_command",
        "service": "assistant_relay",
        "entityId": "",
        "data": "{\"message\":\"{{{ payload }}}\",\"broadcast\":true}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1055,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cc6e683b.df6698",
        "type": "api-current-state",
        "z": "c9917d82.0f2bb",
        "name": "If State is Brewing",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "Idle",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "sensor.coffee_maker_state",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 565,
        "y": 425,
        "wires": [
            [
                "9aee4270.351d",
                "8ac6a1ba.ae68",
                "27b5b341.f4abdc"
            ],
            []
        ]
    },
    {
        "id": "27b5b341.f4abdc",
        "type": "function",
        "z": "c9917d82.0f2bb",
        "name": "Pick Random Message",
        "func": "let messages = [\n    \"Coffee's ready.\",\n    'Coffee is done brewing.'\n]\nmsg.payload = messages[Math.floor(Math.random() * messages.length)]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 835,
        "y": 475,
        "wires": [
            [
                "4b55a81f.bc95f8",
                "5dba7e24.72498"
            ]
        ]
    },
    {
        "id": "8ac6a1ba.ae68",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Turn off Coffee Maker",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.coffee_maker",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 825,
        "y": 425,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d9198d.e98de8",
        "type": "api-call-service",
        "z": "2df69a17.a6a286",
        "name": "",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "telegram_bot",
        "service": "send_message",
        "entityId": "",
        "data": "{\"disable_web_page_preview\":true,\"target\":\"-324068858\",\"title\":\"<b>DockerHub Image Update</b>\",\"message\":\"<a href=\\\"{{ article.link }}\\\">{{ article.title }}</a> has been released on DockerHub.\",\"parse_mode\":\"html\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620.7142944335938,
        "y": 113.5714271068573,
        "wires": [
            []
        ]
    },
    {
        "id": "3307aa9c.a214e6",
        "type": "delay",
        "z": "2df69a17.a6a286",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 365.71429443359375,
        "y": 113.5714271068573,
        "wires": [
            [
                "d3d9198d.e98de8"
            ]
        ]
    },
    {
        "id": "f17d6b6f.d72838",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "PiHole",
        "url": "https://rss.home.gabe565.com/pihole/pihole.atom?includeRegex=%5E%5B%5Cd%5C.%5D*%24",
        "interval": "180",
        "x": 200,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "58775653.2493d8",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "acme-dns",
        "url": " https://rss.home.gabe565.com/joohoi/acme-dns.atom?includeRegex=%5Ev%5B%5Cd%5C.%5D*%24",
        "interval": "180",
        "x": 210,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "ed0120bf.8e382",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "InfluxDB",
        "url": " https://rss.home.gabe565.com/_/influxdb.atom?include=latest",
        "interval": "180",
        "x": 210,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ec1a3b9e.bdedd8",
        "type": "trigger-state",
        "z": "2df69a17.a6a286",
        "name": "Nobody Home",
        "server": "dbd7e060.40c7f",
        "entityid": "group.all_devices",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "x": 155,
        "y": 300,
        "wires": [
            [
                "d9033286.122d8"
            ],
            []
        ]
    },
    {
        "id": "de763632.3a0748",
        "type": "ha-get-entities",
        "z": "2df69a17.a6a286",
        "server": "dbd7e060.40c7f",
        "name": "Get Lights",
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "group.indoor_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "count",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "lights",
        "output_results_count": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "8f70793c.b47538"
            ]
        ]
    },
    {
        "id": "af632c3d.48b3d",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Match Brightness on Toilet Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.master_bathroom_toilet_light",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 580,
        "y": 575,
        "wires": [
            []
        ]
    },
    {
        "id": "8af4e917.2efc08",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Toilet Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.master_bathroom_toilet_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 540,
        "y": 750,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9b6fa2.d4ead",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Match Brightness on Shower Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.master_bathroom_shower_light",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 590,
        "y": 625,
        "wires": [
            []
        ]
    },
    {
        "id": "216ef8f7.a68bc8",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Shower Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.master_bathroom_shower_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "845e662a.4c8448",
        "type": "trigger-state",
        "z": "d736294e.f02228",
        "name": "Master Bedroom Pico",
        "server": "dbd7e060.40c7f",
        "entityid": "sensor.master_bedroom_pico",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 7,
        "customoutputs": [
            {
                "outputId": "6tp4ha9cjhw",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "1"
            },
            {
                "outputId": "0f22gsoj6n7h",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "8"
            },
            {
                "outputId": "3act32owv9p",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "2"
            },
            {
                "outputId": "qzvwmqopicm",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "16"
            },
            {
                "outputId": "hql73ovayp",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "4"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 125,
        "y": 175,
        "wires": [
            [],
            [],
            [
                "15df8e6e.ba8ac2"
            ],
            [
                "cdadeb64.9b2fd8"
            ],
            [
                "94e6539a.7d548"
            ],
            [
                "3b154f33.53b2e"
            ],
            [
                "275224c7.67874c"
            ]
        ]
    },
    {
        "id": "f4092a7e.682908",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "assistant-relay",
        "url": "https://rss.home.gabe565.com/kmlucy/docker-assistant-relay.atom",
        "interval": "180",
        "x": 220,
        "y": 250,
        "wires": [
            []
        ]
    },
    {
        "id": "79570869.5f9fa8",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "Grafana",
        "url": "https://rss.home.gabe565.com/grafana/grafana.atom?include=latest",
        "interval": "180",
        "x": 210,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "86a37471.563048",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "MariaDB",
        "url": "https://rss.home.gabe565.com/_/mariadb.atom?include=latest",
        "interval": "180",
        "x": 210,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "2d0f5d28.7e3ec2",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "mosquitto",
        "url": "https://rss.home.gabe565.com/_/eclipse-mosquitto.atom",
        "interval": "180",
        "x": 210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5b479ef5.953b8",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "OpenLDAP",
        "url": "https://rss.home.gabe565.com/osixia/openldap.atom?includeRegex=%5E%5B%5Cd%5C.%5D*%24",
        "interval": "180",
        "x": 220,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "e94a9dab.3043e",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "Plex",
        "url": "https://rss.home.gabe565.com/plexinc/pms-docker.atom?includeRegex=%5E%5B%5Cd%5C.%5D*-.*%24",
        "interval": "180",
        "x": 200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b575230a.48a4f",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "Syncthing",
        "url": "https://rss.home.gabe565.com/syncthing/syncthing.atom?includeRegex=%5Ev%5B%5Cd%5C.%5D*%24",
        "interval": "180",
        "x": 210,
        "y": 550,
        "wires": [
            []
        ]
    },
    {
        "id": "73d7322e.02ae7c",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "openvpn-client",
        "url": "https://rss.home.gabe565.com/dperson/openvpn-client.atom?include=latest",
        "interval": "180",
        "x": 230,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3d566143.23c98e",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "logspout",
        "url": "https://rss.home.gabe565.com/gliderlabs/logspout.atom?include=master",
        "interval": "180",
        "x": 210,
        "y": 650,
        "wires": [
            []
        ]
    },
    {
        "id": "a7350855.026988",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "Nextcloud",
        "url": "https://rss.home.gabe565.com/_/nextcloud.atom?include=fpm-alpine",
        "interval": "180",
        "x": 210,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "609d44d3.d8456c",
        "type": "feedparse",
        "z": "56e651e8.b2b28",
        "name": "Portainer",
        "url": "https://rss.home.gabe565.com/portainer/portainer.atom?include=latest",
        "interval": "180",
        "x": 210,
        "y": 750,
        "wires": [
            []
        ]
    },
    {
        "id": "cc1b755c.850428",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Toggle Shower Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "light",
        "service": "toggle",
        "entityId": "light.master_bathroom_shower_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 425,
        "y": 1250,
        "wires": [
            []
        ]
    },
    {
        "id": "bada9d90.16136",
        "type": "switch",
        "z": "d736294e.f02228",
        "name": "",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "binary_sensor.switch_158d0002f81985",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "binary_sensor.switch_158d00026b5880",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 225,
        "y": 1275,
        "wires": [
            [
                "cc1b755c.850428"
            ],
            [
                "ee4a2e5c.3718b"
            ]
        ]
    },
    {
        "id": "ee4a2e5c.3718b",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Toggle Toilet Light",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "light",
        "service": "toggle",
        "entityId": "light.master_bathroom_toilet_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 415,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "d5213bd.af03cc8",
        "type": "trigger-state",
        "z": "a7dd54ef.2d2f48",
        "name": "Living Room Fan State Changed",
        "server": "dbd7e060.40c7f",
        "entityid": "fan.living_room",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "53bj9z2cshg",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "on"
            },
            {
                "outputId": "q993hc8a0o",
                "messageType": "default",
                "messageValue": "",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "off"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 180,
        "y": 700,
        "wires": [
            [],
            [],
            [
                "4ebe207c.e2db5"
            ],
            [
                "d02f2679.233948"
            ]
        ]
    },
    {
        "id": "cd5d7033.847a6",
        "type": "api-call-service",
        "z": "a7dd54ef.2d2f48",
        "name": "Toggle Fan",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"pilight/fan\",\"payload\":\"toggle\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620,
        "y": 725,
        "wires": [
            []
        ]
    },
    {
        "id": "4ebe207c.e2db5",
        "type": "api-call-service",
        "z": "a7dd54ef.2d2f48",
        "name": "Set Speed",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"pilight/fan\",\"payload\":\"speed-{{ data.event.new_state.attributes.direction }}-{{ data.event.new_state.attributes.speed }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 440,
        "y": 675,
        "wires": [
            []
        ]
    },
    {
        "id": "d02f2679.233948",
        "type": "switch",
        "z": "a7dd54ef.2d2f48",
        "name": "If old_state Was Off",
        "property": "data.event.old_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 435,
        "y": 725,
        "wires": [
            [
                "cd5d7033.847a6"
            ]
        ]
    },
    {
        "id": "2c77e326.d49eec",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Match Brightness on Lamps",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.master_bedroom",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\",\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 720,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "59297e37.5c032",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Lamps",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.master_bedroom",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 502,
        "y": 1494,
        "wires": [
            []
        ]
    },
    {
        "id": "28497bed.b7a8c4",
        "type": "subflow:ce20f928.4bec78",
        "z": "d736294e.f02228",
        "name": "Match Lamps to Ceiling Fan Light",
        "env": [],
        "x": 640,
        "y": 150,
        "wires": []
    },
    {
        "id": "3b154f33.53b2e",
        "type": "subflow:fdb32abc.0fae78",
        "z": "d736294e.f02228",
        "name": "",
        "env": [
            {
                "name": "light",
                "type": "str",
                "value": "light.master_bedroom"
            }
        ],
        "x": 390,
        "y": 250,
        "wires": [
            [
                "2e032b04.a3b834"
            ]
        ]
    },
    {
        "id": "cdadeb64.9b2fd8",
        "type": "subflow:3f8141f0.1bdbae",
        "z": "d736294e.f02228",
        "name": "",
        "env": [
            {
                "name": "light",
                "type": "str",
                "value": "light.master_bedroom"
            }
        ],
        "x": 390,
        "y": 150,
        "wires": [
            [
                "28497bed.b7a8c4"
            ]
        ]
    },
    {
        "id": "6e131195.1486f",
        "type": "subflow:56e651e8.b2b28",
        "z": "2df69a17.a6a286",
        "name": "RSS Updated",
        "env": [],
        "x": 175.71429443359375,
        "y": 113.5714271068573,
        "wires": [
            [
                "3307aa9c.a214e6"
            ]
        ],
        "icon": "node-red/feed.png"
    },
    {
        "id": "4947e422.6ec68c",
        "type": "api-call-service",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.living_room_light_group",
        "data": "{\"brightness\":255,\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 615,
        "y": 350,
        "wires": [
            []
        ]
    },
    {
        "id": "f52f122a.f7f73",
        "type": "api-call-service",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.living_room_light_group",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 439,
        "y": 564,
        "wires": [
            []
        ]
    },
    {
        "id": "fc01143f.017118",
        "type": "change",
        "z": "3f8141f0.1bdbae",
        "name": "Set Template String",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "\"{{ (state_attr('\" & light & \"', 'brightness') or 0) + 51 }}\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "2f68f9c1.c36856"
            ]
        ]
    },
    {
        "id": "bd7128f0.46df48",
        "type": "change",
        "z": "3f8141f0.1bdbae",
        "name": "Set payload to topic",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"entity_id\":topic}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 225,
        "y": 125,
        "wires": [
            [
                "76e3293a.cfd148"
            ]
        ]
    },
    {
        "id": "af58a3f6.6f3ea",
        "type": "api-call-service",
        "z": "fdb32abc.0fae78",
        "name": "Turn Down Lamp Group",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "",
        "data": "{\"brightness\":\"{{ payload }}\",\"entity_id\":\"{{ light }}\",\"kelvin\":\"{{ kelvin }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 175,
        "wires": [
            [
                "ed6c319f.0b6d5"
            ]
        ]
    },
    {
        "id": "3bf7c54e.5464ca",
        "type": "api-render-template",
        "z": "fdb32abc.0fae78",
        "name": "Get Next Brightness",
        "server": "dbd7e060.40c7f",
        "template": "",
        "x": 475,
        "y": 250,
        "wires": [
            [
                "288e99c3.d6acd6"
            ]
        ]
    },
    {
        "id": "19e7891b.776467",
        "type": "api-current-state",
        "z": "fdb32abc.0fae78",
        "name": "Quit if Remote Value Changed",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "16",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 455,
        "y": 125,
        "wires": [
            [],
            [
                "5d7b8db7.32aad4"
            ]
        ]
    },
    {
        "id": "ed6c319f.0b6d5",
        "type": "delay",
        "z": "fdb32abc.0fae78",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 75,
        "wires": [
            [
                "505d39d2.0b7188"
            ]
        ]
    },
    {
        "id": "559cb342.d946bc",
        "type": "change",
        "z": "fdb32abc.0fae78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "\"{{ (state_attr('\" & light & \"', 'brightness') or 0) - 51 }}\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 315,
        "y": 325,
        "wires": [
            [
                "3bf7c54e.5464ca"
            ]
        ]
    },
    {
        "id": "505d39d2.0b7188",
        "type": "change",
        "z": "fdb32abc.0fae78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "brightness",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"entity_id\":topic}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 155,
        "y": 125,
        "wires": [
            [
                "19e7891b.776467"
            ]
        ]
    },
    {
        "id": "c86bc459.0748e8",
        "type": "subflow:3f8141f0.1bdbae",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "env": [
            {
                "name": "light",
                "type": "str",
                "value": "light.living_room"
            }
        ],
        "x": 439,
        "y": 414,
        "wires": [
            []
        ]
    },
    {
        "id": "c5ebf210.f2f67",
        "type": "subflow:fdb32abc.0fae78",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "env": [
            {
                "name": "light",
                "type": "str",
                "value": "light.living_room"
            }
        ],
        "x": 439,
        "y": 514,
        "wires": [
            []
        ]
    },
    {
        "id": "2a23791b.51d4d6",
        "type": "change",
        "z": "3f8141f0.1bdbae",
        "name": "Add to brightness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "brightness + 61",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 175,
        "wires": [
            [
                "c6521e22.99423"
            ]
        ]
    },
    {
        "id": "5d7b8db7.32aad4",
        "type": "change",
        "z": "fdb32abc.0fae78",
        "name": "Remove from brightness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "brightness - 61",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 175,
        "wires": [
            [
                "288e99c3.d6acd6"
            ]
        ]
    },
    {
        "id": "ef12aab2.9be568",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Play Sounds",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.master_bedroom_group",
        "data": "{\"media_content_id\":\"https://home.gabe565.com/local/relax-sounds/{{ payload }}.mp3\",\"media_content_type\":\"music\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 870,
        "y": 1625,
        "wires": [
            []
        ]
    },
    {
        "id": "cb238a12.050e88",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Select Off",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "input_select",
        "service": "select_option",
        "entityId": "input_select.master_bedroom_relax_sounds",
        "data": "{\"option\":\"Off\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 810,
        "y": 1750,
        "wires": [
            []
        ]
    },
    {
        "id": "c584d473.4b4488",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Group",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "media_player",
        "service": "turn_off",
        "entityId": "media_player.master_bedroom_group",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 680,
        "y": 1675,
        "wires": [
            []
        ]
    },
    {
        "id": "28a1378c.73ee68",
        "type": "trigger-state",
        "z": "d736294e.f02228",
        "name": "If Group Turns Off or Pauses",
        "server": "dbd7e060.40c7f",
        "entityid": "media_player.master_bedroom_group",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "nh2wwfcuujs",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^(?:off|paused)$"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 395,
        "y": 1750,
        "wires": [
            [
                "f63b9e36.f043a"
            ],
            [
                "c2549f55.01b14"
            ]
        ]
    },
    {
        "id": "2bae76ba.4b66da",
        "type": "api-current-state",
        "z": "d736294e.f02228",
        "name": "Get Sound Selected",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "Off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "input_select.master_bedroom_relax_sounds",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 445,
        "y": 1625,
        "wires": [
            [
                "73359774.2a8e68"
            ],
            []
        ]
    },
    {
        "id": "8477fed6.56725",
        "type": "server-state-changed",
        "z": "d736294e.f02228",
        "name": "Master Bedroom Relax Sounds Changed",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "entityidfilter": "input_select.master_bedroom_relax_sounds",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "Off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 380,
        "y": 1675,
        "wires": [
            [
                "73359774.2a8e68"
            ],
            [
                "c584d473.4b4488"
            ]
        ]
    },
    {
        "id": "9ae056b3.cd3d48",
        "type": "server-state-changed",
        "z": "d736294e.f02228",
        "name": "Master Bedroom Media State Changed",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "entityidfilter": "media_player.master_bedroom_group",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "idle",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 175,
        "y": 1625,
        "wires": [
            [
                "2bae76ba.4b66da"
            ],
            []
        ]
    },
    {
        "id": "f63b9e36.f043a",
        "type": "trigger",
        "z": "d736294e.f02228",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 660,
        "y": 1750,
        "wires": [
            [
                "cb238a12.050e88"
            ]
        ]
    },
    {
        "id": "c2549f55.01b14",
        "type": "change",
        "z": "d736294e.f02228",
        "name": "RESET",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1800,
        "wires": [
            [
                "f63b9e36.f043a"
            ]
        ]
    },
    {
        "id": "a9bbdbc8.b72af8",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Match Brightness on Closet Lights",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.master_closet_lights",
        "data": "{\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 590,
        "y": 675,
        "wires": [
            []
        ]
    },
    {
        "id": "77cf2aca.c41a24",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Closet Lights",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.master_closet_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 548,
        "y": 850,
        "wires": [
            []
        ]
    },
    {
        "id": "6ad395f8.de313c",
        "type": "trigger-state",
        "z": "d736294e.f02228",
        "name": "When Bath Vanity Lights State Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "light.master_bathroom_vanity_lights",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "nyer17iqm5",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.context.user_id",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^null$"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "3juwgm88usj",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "on"
            },
            {
                "outputId": "hll7t2qjprf",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "off"
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 210,
        "y": 700,
        "wires": [
            [],
            [],
            [
                "af632c3d.48b3d",
                "eb9b6fa2.d4ead",
                "a9bbdbc8.b72af8"
            ],
            [
                "8af4e917.2efc08",
                "216ef8f7.a68bc8",
                "77cf2aca.c41a24"
            ]
        ]
    },
    {
        "id": "a3a09da8.711c2",
        "type": "trigger-state",
        "z": "d736294e.f02228",
        "name": "When Ceiling Fan Light State Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "light.master_bedroom_ceiling_fan_light",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "1ceb7plzybi",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.context.user_id",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^null$"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "i1q9x5vczlk",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "on"
            },
            {
                "outputId": "z3wlpif97q",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "off"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 212,
        "y": 1454,
        "wires": [
            [],
            [],
            [
                "eda06281.a6e39"
            ],
            [
                "59297e37.5c032"
            ]
        ]
    },
    {
        "id": "235e5c73.b7f654",
        "type": "trigger-state",
        "z": "c9917d82.0f2bb",
        "name": "When Main Light State Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "light.kitchen_main_lights",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "5vo1ivifocr",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "property",
                "propertyValue": "new_state.context.user_id",
                "comparatorType": "is",
                "comparatorValueDatatype": "re",
                "comparatorValue": "^null$"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "ty4rkp81x",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "on"
            },
            {
                "outputId": "lk1iikxcjtf",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "off"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 180,
        "y": 150,
        "wires": [
            [],
            [],
            [
                "3f04281e.5c8338"
            ],
            [
                "af081c7c.26015"
            ]
        ]
    },
    {
        "id": "2197e1b7.80d27e",
        "type": "api-call-service",
        "z": "929b77d6.89d318",
        "name": "Match Brightness on Lamps",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "light.study",
        "data": "{\"brightness\":\"255\",\"kelvin\":\"{{ kelvin }}\",\"transition\":5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 760,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "92fe4bbe.b68a88",
        "type": "api-call-service",
        "z": "929b77d6.89d318",
        "name": "Turn Off Lamps",
        "server": "dbd7e060.40c7f",
        "version": "1",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "light.study",
        "data": "{\"transition\":5}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 540,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7f872d9a.5e34d4",
        "type": "trigger-state",
        "z": "929b77d6.89d318",
        "name": "When Ceiling Fan Light State Changes",
        "server": "dbd7e060.40c7f",
        "entityid": "switch.eccleston",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "i1q9x5vczlk",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "on"
            },
            {
                "outputId": "z3wlpif97q",
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValue": "off"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 250,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "70f68c8f.f11ef4"
            ],
            [
                "92fe4bbe.b68a88"
            ]
        ]
    },
    {
        "id": "17dad58c.27749a",
        "type": "api-render-template",
        "z": "851a8282.3df38",
        "name": "Get Kelvin as int",
        "server": "dbd7e060.40c7f",
        "template": "{{ state_attr('sensor.circadian_values', 'colortemp') | int }}",
        "resultsLocation": "kelvin",
        "resultsLocationType": "msg",
        "templateLocation": "template",
        "templateLocationType": "msg",
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "70f68c8f.f11ef4",
        "type": "subflow:851a8282.3df38",
        "z": "929b77d6.89d318",
        "name": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "2197e1b7.80d27e"
            ]
        ]
    },
    {
        "id": "7d4c7410.7a4aac",
        "type": "subflow:851a8282.3df38",
        "z": "ce20f928.4bec78",
        "name": "",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "a83c3045.bbf12"
            ]
        ]
    },
    {
        "id": "eda06281.a6e39",
        "type": "subflow:851a8282.3df38",
        "z": "d736294e.f02228",
        "name": "",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "2c77e326.d49eec"
            ]
        ]
    },
    {
        "id": "d2029e7e.8c041",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Turn on Garage Lights",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "switch.garage_main_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 455,
        "y": 625,
        "wires": [
            [
                "8823058.703f3f8"
            ]
        ]
    },
    {
        "id": "b2125fa.01a99a",
        "type": "switch",
        "z": "dcd2560.88883a8",
        "name": "Check entity_id",
        "property": "payload.entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "binary_sensor.motion_sensor_158d00022782fc",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 255,
        "y": 625,
        "wires": [
            [
                "d2029e7e.8c041"
            ]
        ]
    },
    {
        "id": "8823058.703f3f8",
        "type": "trigger",
        "z": "dcd2560.88883a8",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "units": "min",
        "reset": "off",
        "bytopic": "all",
        "name": "",
        "x": 645,
        "y": 625,
        "wires": [
            [
                "a331c4a5.8e4918"
            ]
        ]
    },
    {
        "id": "a331c4a5.8e4918",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Turn off Garage Lights",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "switch.garage_main_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 850,
        "y": 625,
        "wires": [
            []
        ]
    },
    {
        "id": "277ac408.f793bc",
        "type": "inject",
        "z": "96cd1986.8f4a98",
        "name": "Run every 5 minutes",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/5 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 172,
        "y": 100,
        "wires": [
            [
                "fa50874a.39b278"
            ]
        ]
    },
    {
        "id": "fa50874a.39b278",
        "type": "subflow:851a8282.3df38",
        "z": "96cd1986.8f4a98",
        "name": "",
        "env": [],
        "x": 367,
        "y": 100,
        "wires": [
            [
                "92f48c98.aaab"
            ]
        ]
    },
    {
        "id": "db24ee14.4746a",
        "type": "bigtimer",
        "z": "96cd1986.8f4a98",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Big Timer",
        "comment": "",
        "lat": "35.6685564",
        "lon": "-97.5083228",
        "starttime": "5004",
        "endtime": "5003",
        "starttime2": "5004",
        "endtime2": "5003",
        "startoff": "+20",
        "endoff": "-30",
        "startoff2": "",
        "endoff2": "",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 135,
        "y": 275,
        "wires": [
            [
                "d6a0a9e.a1a7258"
            ],
            [],
            []
        ]
    },
    {
        "id": "d6a0a9e.a1a7258",
        "type": "link out",
        "z": "96cd1986.8f4a98",
        "name": "Big Timer",
        "links": [
            "ac3c9743.5eccb8",
            "fc3691f0.4a321",
            "2f75eaf9.6b0796"
        ],
        "x": 265,
        "y": 275,
        "wires": []
    },
    {
        "id": "fc3691f0.4a321",
        "type": "link in",
        "z": "dcd2560.88883a8",
        "name": "",
        "links": [
            "d6a0a9e.a1a7258"
        ],
        "x": 115,
        "y": 150,
        "wires": [
            [
                "d396e237.bd685"
            ]
        ]
    },
    {
        "id": "a032d826.1c63d8",
        "type": "api-call-service",
        "z": "96cd1986.8f4a98",
        "name": "Color Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "",
        "data": "{\"kelvin\":\"{{ kelvin }}\",\"transition\":30,\"entity_id\":\"{{ payload.entity_id }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 620,
        "y": 175,
        "wires": [
            []
        ]
    },
    {
        "id": "92f48c98.aaab",
        "type": "link out",
        "z": "96cd1986.8f4a98",
        "name": "Every 5 mins with kelvin",
        "links": [
            "ccc33245.4f0cc",
            "ebf5ae70.6d514"
        ],
        "x": 487,
        "y": 100,
        "wires": []
    },
    {
        "id": "e320e2df.e08bf",
        "type": "link in",
        "z": "96cd1986.8f4a98",
        "name": "Color Light",
        "links": [
            "d87ff9a4.5ae758",
            "dcbb10bf.b332c"
        ],
        "x": 490,
        "y": 175,
        "wires": [
            [
                "a032d826.1c63d8"
            ]
        ]
    },
    {
        "id": "ccc33245.4f0cc",
        "type": "link in",
        "z": "d736294e.f02228",
        "name": "",
        "links": [
            "92f48c98.aaab"
        ],
        "x": 115,
        "y": 2125,
        "wires": [
            [
                "b6488e8c.94247"
            ]
        ]
    },
    {
        "id": "b6488e8c.94247",
        "type": "ha-get-entities",
        "z": "d736294e.f02228",
        "server": "dbd7e060.40c7f",
        "name": "Get Lights for Flux",
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "group.master_bedroom_lamps",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 265,
        "y": 2125,
        "wires": [
            [
                "d87ff9a4.5ae758"
            ]
        ]
    },
    {
        "id": "d87ff9a4.5ae758",
        "type": "link out",
        "z": "d736294e.f02228",
        "name": "",
        "links": [
            "e320e2df.e08bf"
        ],
        "x": 415,
        "y": 2125,
        "wires": []
    },
    {
        "id": "f329a184.a957",
        "type": "ha-get-entities",
        "z": "a7dd54ef.2d2f48",
        "server": "dbd7e060.40c7f",
        "name": "Get Lights for Flux",
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "group.living_room_lights",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "on",
                "valueType": "str"
            }
        ],
        "output_type": "split",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 290,
        "y": 825,
        "wires": [
            [
                "dcbb10bf.b332c"
            ]
        ]
    },
    {
        "id": "ebf5ae70.6d514",
        "type": "link in",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "links": [
            "92f48c98.aaab"
        ],
        "x": 140,
        "y": 825,
        "wires": [
            [
                "f329a184.a957"
            ]
        ]
    },
    {
        "id": "dcbb10bf.b332c",
        "type": "link out",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "links": [
            "e320e2df.e08bf"
        ],
        "x": 440,
        "y": 825,
        "wires": []
    },
    {
        "id": "f6fd664e.5b4928",
        "type": "server-events",
        "z": "96cd1986.8f4a98",
        "name": "Xiaomi Aqara Switch Clicked",
        "server": "dbd7e060.40c7f",
        "event_type": "xiaomi_aqara.click",
        "x": 195,
        "y": 650,
        "wires": [
            [
                "7647eb2a.f4cb24"
            ]
        ]
    },
    {
        "id": "7647eb2a.f4cb24",
        "type": "link out",
        "z": "96cd1986.8f4a98",
        "name": "Xiaomi Aqara Switch Clicked",
        "links": [
            "7850749f.dc9acc",
            "dab6541d.00da68"
        ],
        "x": 365,
        "y": 650,
        "wires": []
    },
    {
        "id": "dab6541d.00da68",
        "type": "link in",
        "z": "d736294e.f02228",
        "name": "",
        "links": [
            "7647eb2a.f4cb24"
        ],
        "x": 140,
        "y": 1075,
        "wires": [
            [
                "f9944a12.e1f308"
            ]
        ]
    },
    {
        "id": "7850749f.dc9acc",
        "type": "link in",
        "z": "d736294e.f02228",
        "name": "",
        "links": [
            "7647eb2a.f4cb24"
        ],
        "x": 140,
        "y": 1275,
        "wires": [
            [
                "bada9d90.16136"
            ]
        ]
    },
    {
        "id": "73359774.2a8e68",
        "type": "change",
        "z": "d736294e.f02228",
        "name": "Title to URL Var",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$lowercase($replace(payload, \" \", \"-\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1625,
        "wires": [
            [
                "ef12aab2.9be568"
            ]
        ]
    },
    {
        "id": "f4300cef.e469e",
        "type": "api-call-service",
        "z": "96cd1986.8f4a98",
        "name": "Turn on Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "",
        "data": "{\"entity_id\":\"{{ light }}\", \"brightness_pct\":99}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 825,
        "wires": [
            [
                "e4e18f57.8a031"
            ]
        ]
    },
    {
        "id": "69ac76.4d9a238c",
        "type": "api-call-service",
        "z": "96cd1986.8f4a98",
        "name": "Turn Off Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{ light }}\", \"transition\":180}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1130,
        "y": 975,
        "wires": [
            []
        ]
    },
    {
        "id": "2d300fb3.a679f",
        "type": "switch",
        "z": "96cd1986.8f4a98",
        "name": "If Light Supports Dimming",
        "property": "data.attributes.supported_features and 1 ? 1 : 0",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "e52cbac4.974aa8"
            ],
            [
                "134d787d.164cb8"
            ]
        ]
    },
    {
        "id": "134d787d.164cb8",
        "type": "delay",
        "z": "96cd1986.8f4a98",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 885,
        "y": 1025,
        "wires": [
            [
                "5c1ba2c5.7178bc"
            ]
        ]
    },
    {
        "id": "5c1ba2c5.7178bc",
        "type": "api-call-service",
        "z": "96cd1986.8f4a98",
        "name": "Turn Off Light",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{ light }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1055,
        "y": 1025,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e18f57.8a031",
        "type": "delay",
        "z": "96cd1986.8f4a98",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 685,
        "y": 825,
        "wires": [
            [
                "4d872d97.63ac34"
            ]
        ]
    },
    {
        "id": "63f34db6.ae8574",
        "type": "ha-wait-until",
        "z": "96cd1986.8f4a98",
        "name": "Wait Until Door Closed",
        "server": "dbd7e060.40c7f",
        "outputs": 2,
        "entityId": "",
        "property": "state",
        "comparator": "is",
        "value": "off",
        "valueType": "str",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": false,
        "x": 750,
        "y": 900,
        "wires": [
            [
                "2d300fb3.a679f"
            ],
            [
                "2d300fb3.a679f"
            ]
        ]
    },
    {
        "id": "e52cbac4.974aa8",
        "type": "api-current-state",
        "z": "96cd1986.8f4a98",
        "name": "If light is not at 100%",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "250 < data.attributes.brightness and data.attributes.brightness < 254",
        "halt_if_type": "jsonata",
        "halt_if_compare": "jsonata",
        "override_topic": false,
        "entity_id": "{{ light }}",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 925,
        "y": 975,
        "wires": [
            [
                "69ac76.4d9a238c"
            ],
            []
        ]
    },
    {
        "id": "4d872d97.63ac34",
        "type": "change",
        "z": "96cd1986.8f4a98",
        "name": "Set entityId for wait",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"entityId\":door}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 900,
        "wires": [
            [
                "63f34db6.ae8574"
            ]
        ]
    },
    {
        "id": "713f81b3.b745c",
        "type": "api-current-state",
        "z": "96cd1986.8f4a98",
        "name": "Stop if Light is On",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "{{ light }}",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 315,
        "y": 825,
        "wires": [
            [
                "f4300cef.e469e"
            ],
            []
        ]
    },
    {
        "id": "23ed40fa.a8708",
        "type": "link in",
        "z": "96cd1986.8f4a98",
        "name": "Turn on Light when Door Opened",
        "links": [
            "2aee794a.102126",
            "32807c9f.889504",
            "5197153e.18b22c",
            "b5d9e897.4ef858"
        ],
        "x": 165,
        "y": 825,
        "wires": [
            [
                "713f81b3.b745c"
            ]
        ]
    },
    {
        "id": "5197153e.18b22c",
        "type": "link out",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "links": [
            "23ed40fa.a8708"
        ],
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "2aee794a.102126",
        "type": "link out",
        "z": "5d39e8a2.e45e18",
        "name": "",
        "links": [
            "23ed40fa.a8708"
        ],
        "x": 415,
        "y": 75,
        "wires": []
    },
    {
        "id": "32807c9f.889504",
        "type": "link out",
        "z": "dcd2560.88883a8",
        "name": "",
        "links": [
            "23ed40fa.a8708"
        ],
        "x": 390,
        "y": 825,
        "wires": []
    },
    {
        "id": "b5d9e897.4ef858",
        "type": "link out",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "links": [
            "23ed40fa.a8708"
        ],
        "x": 465,
        "y": 200,
        "wires": []
    },
    {
        "id": "ada5db66.a39868",
        "type": "trigger-state",
        "z": "a7dd54ef.2d2f48",
        "name": "When the Inner/Outer Back Door Opens",
        "server": "dbd7e060.40c7f",
        "entityid": "^binary_sensor.(inner|outer)_back_door$",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ihtlrqae4z9",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "vi4v170a29f",
                "targetType": "entity_id",
                "targetValue": "light.back_room_main_lights",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 3,
        "customoutputs": [
            {
                "outputId": "ap1t3050gw",
                "messageType": "custom",
                "messageValue": "{\"light\":\"light.back_room_main_lights\",\"door\":\"{{ entity_id }}\"}",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorPropertyValue": "",
                "comparatorType": "is",
                "comparatorValue": ""
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 235,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "b5d9e897.4ef858"
            ]
        ]
    },
    {
        "id": "6061f573.99eb9c",
        "type": "trigger-state",
        "z": "a7dd54ef.2d2f48",
        "name": "When the Front Door Opens",
        "server": "dbd7e060.40c7f",
        "entityid": "binary_sensor.front_door",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ihtlrqae4z9",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "vk4q1nth9x",
                "targetType": "entity_id",
                "targetValue": "light.front_hallway_main_lights",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 3,
        "customoutputs": [
            {
                "outputId": "0wbo1pr689zo",
                "messageType": "custom",
                "messageValue": "{\"light\":\"light.front_hallway_main_lights\",\"door\":\"{{ entity_id }}\"}",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorPropertyValue": "",
                "comparatorType": "is",
                "comparatorValue": ""
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 195,
        "y": 100,
        "wires": [
            [],
            [],
            [
                "c0318270.d3b31"
            ]
        ]
    },
    {
        "id": "50626a45.1b4984",
        "type": "trigger-state",
        "z": "5d39e8a2.e45e18",
        "name": "When the Laundry Room Door Opens",
        "server": "dbd7e060.40c7f",
        "entityid": "binary_sensor.laundry_room_door",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ihtlrqae4z9",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "mz48rx0cgfg",
                "targetType": "entity_id",
                "targetValue": "light.laundry_room_main_lights",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 3,
        "customoutputs": [
            {
                "outputId": "0eirriqosmv",
                "messageType": "custom",
                "messageValue": "{\"light\":\"light.laundry_room_main_lights\",\"door\":\"{{ entity_id }}\"}",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorPropertyValue": "",
                "comparatorType": "is",
                "comparatorValue": ""
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 200,
        "y": 75,
        "wires": [
            [],
            [],
            [
                "2aee794a.102126"
            ]
        ]
    },
    {
        "id": "25f69880.22c3b8",
        "type": "trigger-state",
        "z": "dcd2560.88883a8",
        "name": "When the Side Door Opens",
        "server": "dbd7e060.40c7f",
        "entityid": "binary_sensor.side_door",
        "entityidfiltertype": "regex",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ihtlrqae4z9",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "8xtilhtg3jg",
                "targetType": "entity_id",
                "targetValue": "light.side_yard_light",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 3,
        "customoutputs": [
            {
                "outputId": "j34jz07u3se",
                "messageType": "custom",
                "messageValue": "{\"light\":\"light.side_yard_light\",\"door\":\"{{ entity_id }}\"}",
                "messageValueType": "json",
                "comparatorPropertyType": "always",
                "comparatorPropertyValue": "",
                "comparatorType": "is",
                "comparatorValue": ""
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 195,
        "y": 825,
        "wires": [
            [],
            [],
            [
                "32807c9f.889504"
            ]
        ]
    },
    {
        "id": "652457b8.3c2458",
        "type": "ha-wait-until",
        "z": "c9917d82.0f2bb",
        "name": "",
        "server": "dbd7e060.40c7f",
        "outputs": 2,
        "entityId": "sensor.coffee_maker_energy_power",
        "property": "state",
        "comparator": "gt",
        "value": "15",
        "valueType": "num",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 385,
        "y": 425,
        "wires": [
            [],
            [
                "cc6e683b.df6698"
            ]
        ]
    },
    {
        "id": "c52bb784.466448",
        "type": "ha-wait-until",
        "z": "5d39e8a2.e45e18",
        "name": "",
        "server": "dbd7e060.40c7f",
        "outputs": 2,
        "entityId": "sensor.washer_energy_power",
        "property": "state",
        "comparator": "lte",
        "value": "8",
        "valueType": "num",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 410,
        "y": 250,
        "wires": [
            [],
            [
                "e5e814f3.e20cb8"
            ]
        ]
    },
    {
        "id": "c37302cc.795a4",
        "type": "ha-wait-until",
        "z": "5d39e8a2.e45e18",
        "name": "",
        "server": "dbd7e060.40c7f",
        "outputs": 2,
        "entityId": "sensor.washer_power",
        "property": "state",
        "comparator": "gt",
        "value": "8",
        "valueType": "num",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 610,
        "y": 300,
        "wires": [
            [],
            [
                "fea7f3f4.430c3"
            ]
        ]
    },
    {
        "id": "fea7f3f4.430c3",
        "type": "api-current-state",
        "z": "5d39e8a2.e45e18",
        "name": "If State is Running",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "Idle",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "sensor.washer_state",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 790,
        "y": 300,
        "wires": [
            [
                "81d8576b.17b8e8",
                "f44a2de7.01c0d"
            ],
            []
        ]
    },
    {
        "id": "f339d560.6778d8",
        "type": "api-current-state",
        "z": "5d39e8a2.e45e18",
        "name": "If State is Running",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "Idle",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "sensor.washer_state",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "c37302cc.795a4"
            ],
            []
        ]
    },
    {
        "id": "2e032b04.a3b834",
        "type": "subflow:ce20f928.4bec78",
        "z": "d736294e.f02228",
        "name": "Match Lamps to Ceiling Fan Light",
        "env": [],
        "x": 640,
        "y": 250,
        "wires": []
    },
    {
        "id": "b2201753.bcc948",
        "type": "change",
        "z": "3f8141f0.1bdbae",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "light",
                "pt": "msg",
                "to": "light",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 225,
        "wires": [
            [
                "fc01143f.017118"
            ]
        ]
    },
    {
        "id": "51da740.985088c",
        "type": "change",
        "z": "fdb32abc.0fae78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "light",
                "pt": "msg",
                "to": "light",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 250,
        "wires": [
            [
                "559cb342.d946bc"
            ]
        ]
    },
    {
        "id": "c0318270.d3b31",
        "type": "api-current-state",
        "z": "a7dd54ef.2d2f48",
        "name": "If the sun has set",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": true,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "5197153e.18b22c"
            ],
            []
        ]
    },
    {
        "id": "662ceadd.982fd4",
        "type": "server-events",
        "z": "96cd1986.8f4a98",
        "name": "Xiaomi Aqara Motion",
        "server": "dbd7e060.40c7f",
        "event_type": "xiaomi_aqara.motion",
        "x": 175,
        "y": 600,
        "wires": [
            [
                "7526557f.eff86c"
            ]
        ]
    },
    {
        "id": "7526557f.eff86c",
        "type": "link out",
        "z": "96cd1986.8f4a98",
        "name": "Xiaomi Aqara Motion",
        "links": [
            "46dde9fb.810b88"
        ],
        "x": 365,
        "y": 600,
        "wires": []
    },
    {
        "id": "46dde9fb.810b88",
        "type": "link in",
        "z": "dcd2560.88883a8",
        "name": "",
        "links": [
            "7526557f.eff86c"
        ],
        "x": 115,
        "y": 625,
        "wires": [
            [
                "b2125fa.01a99a"
            ]
        ]
    },
    {
        "id": "1bd4b671.c2f67a",
        "type": "server-state-changed",
        "z": "d736294e.f02228",
        "name": "Master Bedroom People Are Away",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "entityidfilter": "group.master_bedroom_people",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 290,
        "y": 1875,
        "wires": [
            [
                "e4929654.ea8498"
            ],
            []
        ]
    },
    {
        "id": "e4929654.ea8498",
        "type": "api-call-service",
        "z": "d736294e.f02228",
        "name": "Turn Off Group",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "media_player",
        "service": "turn_off",
        "entityId": "media_player.master_bedroom_group",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 580,
        "y": 1875,
        "wires": [
            []
        ]
    },
    {
        "id": "c61d6082.014e4",
        "type": "subflow:851a8282.3df38",
        "z": "a7dd54ef.2d2f48",
        "name": "",
        "env": [],
        "x": 420,
        "y": 350,
        "wires": [
            [
                "4947e422.6ec68c"
            ]
        ]
    },
    {
        "id": "c6521e22.99423",
        "type": "subflow:851a8282.3df38",
        "z": "3f8141f0.1bdbae",
        "name": "",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "e9550a35.037488"
            ]
        ]
    },
    {
        "id": "288e99c3.d6acd6",
        "type": "subflow:851a8282.3df38",
        "z": "fdb32abc.0fae78",
        "name": "",
        "x": 695,
        "y": 200,
        "wires": [
            [
                "af58a3f6.6f3ea"
            ]
        ]
    },
    {
        "id": "15df8e6e.ba8ac2",
        "type": "subflow:851a8282.3df38",
        "z": "d736294e.f02228",
        "name": "",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "8c6b096d.3a15d8"
            ]
        ]
    },
    {
        "id": "682eb668.948b78",
        "type": "trigger-state",
        "z": "dcd2560.88883a8",
        "name": "Garage Door State Changed",
        "server": "dbd7e060.40c7f",
        "entityid": "cover.garage_door",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "4ao6dbvptkx",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "open"
            },
            {
                "id": "ytmee0x6e7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "closed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "x": 220,
        "y": 1250,
        "wires": [
            [
                "9c411142.a31be"
            ],
            []
        ]
    },
    {
        "id": "785abf4b.8cf79",
        "type": "trigger-state",
        "z": "dcd2560.88883a8",
        "name": "Garage Door Distance Changed",
        "server": "dbd7e060.40c7f",
        "entityid": "sensor.garage_door_distance",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "kc665qs75p",
                "targetType": "entity_id",
                "targetValue": "cover.garage_door",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "closed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 4,
        "customoutputs": [
            {
                "outputId": "g4bwl7rchge",
                "messageType": "payload",
                "messageValue": "home",
                "messageValueType": "str",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": "<=",
                "comparatorValue": "150"
            },
            {
                "outputId": "7g706xaj5zg",
                "messageType": "payload",
                "messageValue": "not_home",
                "messageValueType": "str",
                "comparatorPropertyType": "current_state",
                "comparatorPropertyValue": "new_state.state",
                "comparatorType": ">",
                "comparatorValue": "150"
            }
        ],
        "outputinitially": true,
        "state_type": "str",
        "x": 205,
        "y": 1000,
        "wires": [
            [],
            [],
            [
                "979fe493.ea6178"
            ],
            [
                "979fe493.ea6178"
            ]
        ]
    },
    {
        "id": "becf7b11.c29148",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Update Gabe's Car",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "mqtt",
        "service": "publish",
        "entityId": "",
        "data": "{\"topic\":\"location/car/gabe\",\"payload\":\"{{ payload }}\",\"retain\":\"true\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 715,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "979fe493.ea6178",
        "type": "api-current-state",
        "z": "dcd2560.88883a8",
        "name": "If Gabe's Car Changed",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "outputs": 2,
        "halt_if": "payload",
        "halt_if_type": "msg",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "device_tracker.gabe_car",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 485,
        "y": 1000,
        "wires": [
            [
                "becf7b11.c29148"
            ],
            []
        ]
    },
    {
        "id": "2f75eaf9.6b0796",
        "type": "link in",
        "z": "c9917d82.0f2bb",
        "name": "",
        "links": [
            "d6a0a9e.a1a7258"
        ],
        "x": 150,
        "y": 625,
        "wires": [
            [
                "e73b2d86.1956b"
            ]
        ]
    },
    {
        "id": "e73b2d86.1956b",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "Toggle Wyze Night Mode",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "switch",
        "service": "turn_{{ payload }}",
        "entityId": "switch.wyze_night_mode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 360,
        "y": 625,
        "wires": [
            []
        ]
    },
    {
        "id": "9c411142.a31be",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "HTML5 Notify",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "notify",
        "service": "html5",
        "entityId": "",
        "data": "{\"title\":\"Garage Door\",\"message\":\"The garage door just opened.\",\"data\":{\"priority\":\"high\",\"tag\":\"garage-door-open\",\"renotify\":true,\"actions\":[{\"action\":\"close-garage-door\",\"title\":\"Close It\",\"icon\":\"/local/icons/down-arrow.png\"}]}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 455,
        "y": 1250,
        "wires": [
            []
        ]
    },
    {
        "id": "9452e396.9f73a",
        "type": "server-events",
        "z": "96cd1986.8f4a98",
        "name": "HTML5 Notification Clicked",
        "server": "dbd7e060.40c7f",
        "event_type": "html5_notification.clicked",
        "x": 195,
        "y": 450,
        "wires": [
            [
                "e025e981.8b0098",
                "6699d8ce.89aab8"
            ]
        ]
    },
    {
        "id": "e025e981.8b0098",
        "type": "link out",
        "z": "96cd1986.8f4a98",
        "name": "HTML5 Notification Clicked",
        "links": [
            "c79a6ba0.d675e8",
            "a1d71c7b.78268",
            "13e8097e.b7a3b7"
        ],
        "x": 390,
        "y": 425,
        "wires": []
    },
    {
        "id": "c79a6ba0.d675e8",
        "type": "link in",
        "z": "dcd2560.88883a8",
        "name": "",
        "links": [
            "e025e981.8b0098"
        ],
        "x": 125,
        "y": 1325,
        "wires": [
            [
                "ea6534b1.e33858"
            ]
        ]
    },
    {
        "id": "ea6534b1.e33858",
        "type": "switch",
        "z": "dcd2560.88883a8",
        "name": "",
        "property": "payload.event.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "close-garage-door",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 225,
        "y": 1325,
        "wires": [
            [
                "b0b37710.c1f8c8"
            ]
        ]
    },
    {
        "id": "b0b37710.c1f8c8",
        "type": "api-call-service",
        "z": "dcd2560.88883a8",
        "name": "Close Garage Door",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.garage_door",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 415,
        "y": 1325,
        "wires": [
            []
        ]
    },
    {
        "id": "8f70793c.b47538",
        "type": "api-call-service",
        "z": "2df69a17.a6a286",
        "name": "HTML5 Notify",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "notify",
        "service": "html5",
        "entityId": "",
        "data": "{\"title\":\"Lights\",\"message\":\"Nobody is home, but {{ lights }} lights are on.\",\"data\":{\"priority\":\"high\",\"tag\":\"lights-left-on\",\"renotify\":true,\"actions\":[{\"action\":\"power-all-lights-off\",\"title\":\"Power Off\"}]}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 705,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "13e8097e.b7a3b7",
        "type": "link in",
        "z": "2df69a17.a6a286",
        "name": "",
        "links": [
            "e025e981.8b0098"
        ],
        "x": 125,
        "y": 375,
        "wires": [
            [
                "bd6d0a44.2cfb88"
            ]
        ]
    },
    {
        "id": "bd6d0a44.2cfb88",
        "type": "switch",
        "z": "2df69a17.a6a286",
        "name": "",
        "property": "payload.event.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "power-all-lights-off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 225,
        "y": 375,
        "wires": [
            [
                "8e2a5041.cfddd"
            ]
        ]
    },
    {
        "id": "8e2a5041.cfddd",
        "type": "api-call-service",
        "z": "2df69a17.a6a286",
        "name": "Power All Lights Off",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.indoor_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 425,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "d9033286.122d8",
        "type": "trigger",
        "z": "2df69a17.a6a286",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "units": "min",
        "reset": "home",
        "bytopic": "all",
        "name": "",
        "x": 345,
        "y": 300,
        "wires": [
            [
                "de763632.3a0748"
            ]
        ]
    },
    {
        "id": "6699d8ce.89aab8",
        "type": "api-call-service",
        "z": "96cd1986.8f4a98",
        "name": "Dismiss on All Devices",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "notify",
        "service": "html5_dismiss",
        "entityId": "",
        "data": "{\"data\":{\"tag\":\"{{ payload.event.tag }}\"}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 475,
        "y": 475,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c86b48.c78ee8",
        "type": "server-events",
        "z": "96cd1986.8f4a98",
        "name": "HTML5 Notification Clicked",
        "server": "dbd7e060.40c7f",
        "event_type": "html5_notification.closed",
        "x": 195,
        "y": 500,
        "wires": [
            [
                "6699d8ce.89aab8"
            ]
        ]
    },
    {
        "id": "5dba7e24.72498",
        "type": "api-call-service",
        "z": "c9917d82.0f2bb",
        "name": "HTML5 Notify",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "notify",
        "service": "html5",
        "entityId": "",
        "data": "{\"title\":\"Coffee Maker\",\"message\":\"{{{ payload }}}\",\"data\":{\"priority\":\"high\",\"tag\":\"coffee-done\",\"renotify\":true}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1055,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "6f88012c.a5f42",
        "type": "api-call-service",
        "z": "5d39e8a2.e45e18",
        "name": "HTML5 Notify",
        "server": "dbd7e060.40c7f",
        "version": 1,
        "service_domain": "notify",
        "service": "html5",
        "entityId": "",
        "data": "{\"title\":\"Washer\",\"message\":\"{{{ payload }}}\",\"data\":{\"priority\":\"high\",\"tag\":\"washer-done\",\"renotify\":true}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1230,
        "y": 300,
        "wires": [
            []
        ]
    }
]