node-red/flows.json
[{"id":"a7dd54ef.2d2f48","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"dcd2560.88883a8","type":"tab","label":"Outdoor Lights","disabled":false,"info":""},{"id":"d736294e.f02228","type":"tab","label":"Master Bedroom","disabled":false,"info":""},{"id":"c9917d82.0f2bb","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"5d39e8a2.e45e18","type":"tab","label":"Washer","disabled":false,"info":""},{"id":"2df69a17.a6a286","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"ce20f928.4bec78","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":75,"wires":[{"id":"eea2cd84.ae7e7"}]}],"out":[]},{"id":"fdb32abc.0fae78","type":"subflow","name":"Lower Brightness","info":"","category":"","in":[{"x":45,"y":200,"wires":[{"id":"559cb342.d946bc"}]}],"out":[{"x":670,"y":125,"wires":[{"id":"19e7891b.776467","port":"0"}]}],"env":[]},{"id":"3f8141f0.1bdbae","type":"subflow","name":"Raise Brightness","info":"","category":"","in":[{"x":45,"y":175,"wires":[{"id":"fc01143f.017118"}]}],"out":[{"x":725,"y":125,"wires":[{"id":"76e3293a.cfd148","port":"0"}]}],"env":[]},{"id":"2c413a07.e4d2b6","type":"subflow","name":"Subflow 4","info":"","in":[{"x":170,"y":575,"wires":[]}],"out":[]},{"id":"d08440a8.4ef58","type":"subflow","name":"Subflow 5","info":"","in":[{"x":325,"y":75,"wires":[{"id":"58bca076.1a1b5"}]}],"out":[]},{"id":"34fd99c6.f3add6","type":"subflow","name":"Subflow 6","info":"","in":[{"x":45,"y":275,"wires":[{"id":"6586b914.0a18d8"}]}],"out":[]},{"id":"b046dde1.74b8c","type":"subflow","name":"Subflow 7","info":"","in":[{"x":25,"y":100,"wires":[{"id":"543bca89.0f8254"}]}],"out":[]},{"id":"56e651e8.b2b28","type":"subflow","name":"Subflow 8","info":"","in":[],"out":[{"x":995,"y":400,"wires":[{"id":"f17d6b6f.d72838","port":0},{"id":"58775653.2493d8","port":0},{"id":"ed0120bf.8e382","port":0},{"id":"f4092a7e.682908","port":0},{"id":"79570869.5f9fa8","port":0},{"id":"86a37471.563048","port":0},{"id":"2d0f5d28.7e3ec2","port":0},{"id":"5b479ef5.953b8","port":0},{"id":"e94a9dab.3043e","port":0},{"id":"b575230a.48a4f","port":0},{"id":"73d7322e.02ae7c","port":0},{"id":"3d566143.23c98e","port":0},{"id":"a7350855.026988","port":0},{"id":"609d44d3.d8456c","port":0}]}]},{"id":"dbd7e060.40c7f","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a8a45da5.6405f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"10a4d45.6eda22c","type":"switch","z":"dcd2560.88883a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":485,"y":175,"wires":[["d396e237.bd685"],["f2b05a75.acc128"]]},{"id":"f2b05a75.acc128","type":"api-call-service","z":"dcd2560.88883a8","name":"Turn Off Front Yard Lights","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":[\"light.front_yard_light_group\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":685,"y":200,"wires":[[]]},{"id":"d396e237.bd685","type":"api-call-service","z":"dcd2560.88883a8","name":"Turn On Front Yard Lights","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":[\"light.front_yard_light_group\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":685,"y":150,"wires":[[]]},{"id":"95d09d55.45ae8","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"Living Room Ceiling Fan Light Changed","server":"dbd7e060.40c7f","entityid":"input_boolean.living_room_ceiling_fan_light","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"xgckphjigrs","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":260,"y":150,"wires":[["30cd1875.3e7078","f9da2a34.e6ec78"],["30cd1875.3e7078"]]},{"id":"f87c3c0f.78268","type":"delay","z":"a7dd54ef.2d2f48","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":125,"wires":[["eb441daa.8fc2d"]]},{"id":"f9da2a34.e6ec78","type":"api-current-state","z":"a7dd54ef.2d2f48","name":"If Dimmed","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.living_room_ceiling_fan_light_dimmed","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":556,"y":125,"wires":[["f87c3c0f.78268"],[]]},{"id":"4d5415b2.e44b4c","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"Brightness Changed","server":"dbd7e060.40c7f","entityid":"input_boolean.living_room_ceiling_fan_light_dimmed","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"48suptnmmkk","targetType":"entity_id","targetValue":"input_boolean.living_room_ceiling_fan_light","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"bpagll427zk","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"},{"outputId":"2poraei0l14","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"}],"outputinitially":false,"state_type":"str","x":300,"y":225,"wires":[[],[],["eb441daa.8fc2d"],["eb42e3f8.b5e72","30cd1875.3e7078"]]},{"id":"eb42e3f8.b5e72","type":"delay","z":"a7dd54ef.2d2f48","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545,"y":275,"wires":[["30cd1875.3e7078"]]},{"id":"81b58c3b.2150d","type":"api-current-state","z":"dcd2560.88883a8","name":"And the Sun Has Set","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":425,"y":425,"wires":[["18cab4c2.57829b"],[]]},{"id":"18cab4c2.57829b","type":"api-call-service","z":"dcd2560.88883a8","name":"Turn on Side Yard Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.side_yard_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":685,"y":425,"wires":[[]]},{"id":"32442cb6.fd1e24","type":"api-call-service","z":"dcd2560.88883a8","name":"Turn off Side Yard Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.side_yard_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":435,"y":525,"wires":[[]]},{"id":"dfa7c198.63167","type":"delay","z":"dcd2560.88883a8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":335,"y":175,"wires":[["10a4d45.6eda22c"]]},{"id":"2260635c.1906bc","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"When the Front Door Opens","server":"dbd7e060.40c7f","entityid":"binary_sensor.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ihtlrqae4z9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":170,"y":600,"wires":[["bae839f0.f8c1f8"],[]]},{"id":"4bc69842.d0b218","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Turn on Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"{{ light }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":795,"y":475,"wires":[["ab3f46fc.27edb8"]]},{"id":"f0556533.f70068","type":"api-current-state","z":"a7dd54ef.2d2f48","name":"Stop if Light is On","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":475,"wires":[["4bc69842.d0b218"],[]]},{"id":"cfc38091.9bf7b","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Turn Off Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"{{ light }}\",\"transition\":120}","mergecontext":"","output_location":"","output_location_type":"none","x":1380,"y":625,"wires":[["f91b8b05.3292a8"]]},{"id":"72d6a0cc.a7fdb","type":"inject","z":"a7dd54ef.2d2f48","name":"","topic":"binary_sensor.front_door_sensor","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":525,"wires":[["bae839f0.f8c1f8"]]},{"id":"8c6b096d.3a15d8","type":"api-call-service","z":"d736294e.f02228","name":"Turn On Lamp Group","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_bedroom\",\"brightness\":255,\"transition\":2}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":250,"wires":[[]]},{"id":"275224c7.67874c","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Lamp Group","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.master_bedroom\",\"transition\":2}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":600,"y":450,"wires":[[]]},{"id":"e9550a35.037488","type":"api-call-service","z":"3f8141f0.1bdbae","name":"Turn Up Lamp Group","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"{{ light }}\",\"brightness\":\"{{ payload }}\",\"transition\":1}","mergecontext":"","output_location":"","output_location_type":"none","x":775,"y":175,"wires":[["ce0e563b.6e58d8"]]},{"id":"2f68f9c1.c36856","type":"api-render-template","z":"3f8141f0.1bdbae","name":"Get Next Brightness","server":"dbd7e060.40c7f","template":"","x":525,"y":225,"wires":[["e9550a35.037488","e5a0658c.283b48"]]},{"id":"76e3293a.cfd148","type":"api-current-state","z":"3f8141f0.1bdbae","name":"Quit if Remote Value Changed","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"8","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":505,"y":125,"wires":[[],["2a23791b.51d4d6"]]},{"id":"ce0e563b.6e58d8","type":"delay","z":"3f8141f0.1bdbae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":75,"wires":[["bd7128f0.46df48"]]},{"id":"4b51f5df.3f36bc","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"Living Room Pico","server":"dbd7e060.40c7f","entityid":"sensor.living_room_.*_pico","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"4uz2ek5kmva","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"0"}],"constraintsmustmatch":"all","outputs":7,"customoutputs":[{"outputId":"6tp4ha9cjhw","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"1"},{"outputId":"0f22gsoj6n7h","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"8"},{"outputId":"3act32owv9p","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"2"},{"outputId":"qzvwmqopicm","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"16"},{"outputId":"hql73ovayp","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"4"}],"outputinitially":false,"state_type":"str","x":190,"y":1000,"wires":[[],[],["4947e422.6ec68c"],["edd056c0.be38d8"],["ecbe7f17.3f08c"],["92106857.d2f868"],["f52f122a.f7f73"]]},{"id":"c7ddd2a5.f85df","type":"api-call-service","z":"34fd99c6.f3add6","name":"Set Brightness to 5","server":"dbd7e060.40c7f","service_domain":"input_number","service":"set_value","data":"{\"entity_id\":\"input_number.living_room_brightness\",\"value\":5}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":140,"wires":[[]]},{"id":"ecbe7f17.3f08c","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Toggle TV Power","server":"dbd7e060.40c7f","service_domain":"media_player","service":"toggle","data":"{\"entity_id\":\"media_player.sony_bravia_tv\"}","mergecontext":"","output_location":"","output_location_type":"none","x":465,"y":1013,"wires":[[]]},{"id":"d4b3469c.edae58","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"Brightness Changed","server":"dbd7e060.40c7f","entityid":"input_number.living_room_brightness","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":225,"y":1275,"wires":[["cc701977.c34a88"],[]]},{"id":"cc701977.c34a88","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Activate Scene","server":"dbd7e060.40c7f","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_brightness_{{ payload }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":505,"y":1275,"wires":[[]]},{"id":"f904f8a5.806588","type":"api-call-service","z":"2c413a07.e4d2b6","name":"Increment Brightness","server":"dbd7e060.40c7f","service_domain":"input_number","service":"increment","data":"{\"entity_id\":\"input_number.living_room_brightness\"}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":175,"wires":[["c1b9f0ec.ffe9"]]},{"id":"4edd82cc.48029c","type":"api-current-state","z":"2c413a07.e4d2b6","name":"Quit if Remote Value Changed","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"8","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_pico","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":205,"y":150,"wires":[["f9e34357.be4c8"],[]]},{"id":"c1b9f0ec.ffe9","type":"delay","z":"2c413a07.e4d2b6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":75,"wires":[["4edd82cc.48029c"]]},{"id":"f9e34357.be4c8","type":"api-current-state","z":"2c413a07.e4d2b6","name":"If not Max","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"input_number.living_room_brightness","state_type":"num","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":175,"wires":[["f904f8a5.806588"],[]]},{"id":"1626347f.8870cc","type":"api-call-service","z":"d08440a8.4ef58","name":"Decrement Brightness","server":"dbd7e060.40c7f","service_domain":"input_number","service":"decrement","data":"{\"entity_id\":\"input_number.living_room_brightness\"}","mergecontext":"","output_location":"","output_location_type":"none","x":700,"y":75,"wires":[["23c3e0e9.24065"]]},{"id":"41c61a70.31dd44","type":"api-current-state","z":"d08440a8.4ef58","name":"Quit if Remote Value Changed","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"16","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_pico","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":205,"y":125,"wires":[["58bca076.1a1b5"],[]]},{"id":"23c3e0e9.24065","type":"delay","z":"d08440a8.4ef58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":200,"wires":[["41c61a70.31dd44"]]},{"id":"58bca076.1a1b5","type":"api-current-state","z":"d08440a8.4ef58","name":"If not Min","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"input_number.living_room_brightness","state_type":"num","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":460,"y":75,"wires":[["1626347f.8870cc"],[]]},{"id":"61348710.046bb8","type":"api-call-service","z":"b046dde1.74b8c","name":"Set Brightness to 0","server":"dbd7e060.40c7f","service_domain":"input_number","service":"set_value","data":"{\"entity_id\":\"input_number.living_room_brightness\",\"value\":0}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":140,"wires":[[]]},{"id":"3f04281e.5c8338","type":"api-call-service","z":"c9917d82.0f2bb","name":"Match Brightness on Kitchen Sink Light","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_sink_light\",\"brightness\":\"{{ data.new_state.attributes.brightness }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":785,"y":175,"wires":[[]]},{"id":"af081c7c.26015","type":"api-call-service","z":"c9917d82.0f2bb","name":"Turn Off Kitchen Sink Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_sink_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":745,"y":225,"wires":[[]]},{"id":"9e4400dc.2f6e7","type":"bigtimer","z":"dcd2560.88883a8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"35.6685564","lon":"-97.5083228","starttime":"5004","endtime":"5003","starttime2":"5004","endtime2":"5003","startoff":"+15","endoff":"-25","startoff2":"","endoff2":"","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":true,"repeat":false,"atstart":true,"odd":false,"even":false,"x":160,"y":175,"wires":[["dfa7c198.63167"],[],[]]},{"id":"abc91ea1.c17e7","type":"server-events","z":"d736294e.f02228","name":"Xiaomi Aqara Switch Clicked","server":"dbd7e060.40c7f","event_type":"xiaomi_aqara.click","x":245,"y":1475,"wires":[["f9944a12.e1f308","bada9d90.16136"]]},{"id":"f9944a12.e1f308","type":"switch","z":"d736294e.f02228","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.wall_switch_left_158d0002387dd9","vt":"str"},{"t":"eq","v":"binary_sensor.wall_switch_left_158d0002f0786a","vt":"str"},{"t":"eq","v":"binary_sensor.wall_switch_both_158d0002387dd9","vt":"str"},{"t":"eq","v":"binary_sensor.wall_switch_both_158d0002f0786a","vt":"str"},{"t":"eq","v":"binary_sensor.wall_switch_right_158d0002387dd9","vt":"str"},{"t":"eq","v":"binary_sensor.wall_switch_right_158d0002f0786a","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":525,"y":1350,"wires":[["56e36b4c.012a54"],["56e36b4c.012a54"],["56e36b4c.012a54","35df2336.1acc5c"],["35df2336.1acc5c","56e36b4c.012a54"],["35df2336.1acc5c"],["35df2336.1acc5c"]]},{"id":"56e36b4c.012a54","type":"api-call-service","z":"d736294e.f02228","name":"Toggle Liv Lamp","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"toggle","data":"{\"entity_id\":\"light.master_bedroom_liv_lamp\"}","mergecontext":"","output_location":"","output_location_type":"none","x":730,"y":1300,"wires":[[]]},{"id":"35df2336.1acc5c","type":"api-call-service","z":"d736294e.f02228","name":"Toggle Gabe Lamp","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"toggle","data":"{\"entity_id\":\"light.master_bedroom_gabe_lamp\"}","mergecontext":"","output_location":"","output_location_type":"none","x":740,"y":1400,"wires":[[]]},{"id":"c6f835bb.eb2858","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"When the Laundry Room Door Opens","server":"dbd7e060.40c7f","entityid":"binary_sensor.laundry_room_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ihtlrqae4z9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":155,"y":654,"wires":[["d3877232.26ae8"],[]]},{"id":"d3877232.26ae8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.laundry_room_main_lights","tot":"str"},{"t":"set","p":"flux","pt":"msg","to":"switch.circadian_lighting_laundry_room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":650,"wires":[["bd6824f7.cf89a8"]]},{"id":"bae839f0.f8c1f8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.front_hallway_main_lights","tot":"str"},{"t":"set","p":"flux","pt":"msg","to":"switch.circadian_lighting_front_hallway","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":405,"y":600,"wires":[["bd6824f7.cf89a8"]]},{"id":"cf13c533.655838","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"When the Side Door Opens","server":"dbd7e060.40c7f","entityid":"binary_sensor.side_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ihtlrqae4z9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":170,"y":700,"wires":[["bc48b698.2dbfd8"],[]]},{"id":"bc48b698.2dbfd8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.side_yard_light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":700,"wires":[["bd6824f7.cf89a8"]]},{"id":"1353870d.7411a9","type":"api-current-state","z":"a7dd54ef.2d2f48","name":"","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1205,"y":550,"wires":[["566bbece.423aa"],[]]},{"id":"ab3f46fc.27edb8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"msg.door","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":450,"wires":[["4fbd1885.9d2ec8"]]},{"id":"bd6824f7.cf89a8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"door","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"jsonata"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"light","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":650,"wires":[["f0556533.f70068"]]},{"id":"aaa9114f.a5e65","type":"inject","z":"a7dd54ef.2d2f48","name":"","topic":"binary_sensor.front_door_sensor","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":775,"wires":[["bc48b698.2dbfd8"]]},{"id":"a7328dfc.529c7","type":"switch","z":"a7dd54ef.2d2f48","name":"","property":"data.attributes.supported_features and 1 ? 1 : 0","propertyType":"jsonata","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1025,"y":650,"wires":[["a1505952.8c00f8"],["28c4f5d8.3b311a"]]},{"id":"28c4f5d8.3b311a","type":"delay","z":"a7dd54ef.2d2f48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1185,"y":675,"wires":[["addaad46.84045"]]},{"id":"addaad46.84045","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Turn Off Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"{{ light }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1355,"y":675,"wires":[[]]},{"id":"c8fd0ac.be4e7f8","type":"looptimer","z":"a7dd54ef.2d2f48","duration":"15","units":"Second","maxloops":"20","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":980,"y":550,"wires":[["1353870d.7411a9"],["a7328dfc.529c7"]]},{"id":"566bbece.423aa","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":550,"wires":[["c8fd0ac.be4e7f8"]]},{"id":"4fbd1885.9d2ec8","type":"delay","z":"a7dd54ef.2d2f48","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1135,"y":500,"wires":[["c8fd0ac.be4e7f8"]]},{"id":"94e6539a.7d548","type":"api-call-service","z":"d736294e.f02228","name":"Set Lamp Group to 50%","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_bedroom_lamp_group\",\"brightness_pct\":\"50\"}","mergecontext":"","output_location":"","output_location_type":"none","x":610,"y":350,"wires":[[]]},{"id":"a83c3045.bbf12","type":"api-call-service","z":"ce20f928.4bec78","name":"Match Lamps to Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_bedroom_lamp_group\",\"brightness\":\"{{ data.event.new_state.attributes.brightness }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":500,"y":200,"wires":[["6a74535a.1affbc"]]},{"id":"8544a2f5.50b38","type":"trigger-state","z":"ce20f928.4bec78","name":"Ceiling Fan Light Status Changed","server":"dbd7e060.40c7f","entityid":"light.master_bedroom_ceiling_fan_light","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":465,"y":75,"wires":[["a83c3045.bbf12"],[]]},{"id":"eea2cd84.ae7e7","type":"change","z":"ce20f928.4bec78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":75,"wires":[["8544a2f5.50b38"]]},{"id":"6a74535a.1affbc","type":"change","z":"ce20f928.4bec78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":755,"y":200,"wires":[["8544a2f5.50b38"]]},{"id":"1634ca50.147996","type":"change","z":"5d39e8a2.e45e18","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":245,"wires":[["651157c4.9a2858"]]},{"id":"e5e814f3.e20cb8","type":"api-call-service","z":"5d39e8a2.e45e18","name":"Set State to Running","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"hass/state/washer\",\"payload\":\"Running\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":220,"wires":[[]]},{"id":"147853f3.a11cbc","type":"change","z":"5d39e8a2.e45e18","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":145,"wires":[["ebb56a7.92e9f98"]]},{"id":"81d8576b.17b8e8","type":"api-call-service","z":"5d39e8a2.e45e18","name":"Set State to Idle","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"hass/state/washer\",\"payload\":\"Idle\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","x":980,"y":95,"wires":[[]]},{"id":"8a70b2b2.a8444","type":"api-call-service","z":"5d39e8a2.e45e18","name":"Say It","server":"dbd7e060.40c7f","service_domain":"rest_command","service":"assistant_relay","data":"{\"message\":\"{{{ payload }}}\",\"broadcast\":true}","mergecontext":"","output_location":"","output_location_type":"none","x":1010,"y":280,"wires":[[]]},{"id":"52811ee1.c19c","type":"trigger-state","z":"5d39e8a2.e45e18","name":"When Washer Wattage Changes","server":"dbd7e060.40c7f","entityid":"sensor.washer_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"236m6iet0x2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"5"},{"id":"r4okx4urvvd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":179,"y":200,"wires":[["147853f3.a11cbc","651157c4.9a2858"],["1634ca50.147996","9bcdb546.456638"]]},{"id":"fea7f3f4.430c3","type":"api-current-state","z":"5d39e8a2.e45e18","name":"If State is Running","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"Idle","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.washer_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":840,"y":170,"wires":[["81d8576b.17b8e8","f44a2de7.01c0d"],[]]},{"id":"f44a2de7.01c0d","type":"function","z":"5d39e8a2.e45e18","name":"Pick Random Message","func":"let messages = [\n    'The laundry is done.',\n    'Hey, the washer is done!'\n]\nmsg.payload = messages[Math.floor(Math.random() * messages.length)]\nreturn msg;","outputs":1,"noerr":0,"x":1035,"y":220,"wires":[["8a70b2b2.a8444"]]},{"id":"ebb56a7.92e9f98","type":"trigger","z":"5d39e8a2.e45e18","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"","bytopic":"topic","name":"","x":713,"y":120,"wires":[["fea7f3f4.430c3"]]},{"id":"651157c4.9a2858","type":"trigger","z":"5d39e8a2.e45e18","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"min","reset":"","bytopic":"topic","name":"","x":556,"y":220,"wires":[["e5e814f3.e20cb8"]]},{"id":"d592205a.647da","type":"server-state-changed","z":"d736294e.f02228","name":"Heater Turned On","server":"dbd7e060.40c7f","version":1,"entityidfilter":"switch.master_bedroom_heater","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":340,"y":675,"wires":[["7dbe8801.ac11f8"]]},{"id":"7dbe8801.ac11f8","type":"trigger","z":"d736294e.f02228","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"units":"hr","reset":"off","bytopic":"all","name":"","x":545,"y":675,"wires":[["16bbfc1b.0ddb64"]]},{"id":"16bbfc1b.0ddb64","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Heater","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.master_bedroom_heater\"}","mergecontext":"","output_location":"","output_location_type":"none","x":730,"y":675,"wires":[[]]},{"id":"53b2071d.35f228","type":"server-state-changed","z":"dcd2560.88883a8","name":"Side Door Light Turned On","server":"dbd7e060.40c7f","entityidfilter":"light.side_yard_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":1060,"y":325,"wires":[["8f83339e.7ccae"]]},{"id":"8f83339e.7ccae","type":"trigger","z":"dcd2560.88883a8","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"15","extend":false,"units":"min","reset":"off","bytopic":"all","name":"","x":1295,"y":325,"wires":[["b6527af.9d94f88"]]},{"id":"b6527af.9d94f88","type":"api-call-service","z":"dcd2560.88883a8","name":"Turn Off Side Door Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.side_yard_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1510,"y":325,"wires":[[]]},{"id":"d09087e5.d23ff8","type":"server-state-changed","z":"dcd2560.88883a8","name":"When the Front Door Opens","server":"dbd7e060.40c7f","version":"1","entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":475,"wires":[["81b58c3b.2150d"],["32442cb6.fd1e24"]]},{"id":"30cd1875.3e7078","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Toggle Light","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"pilight/light\",\"payload\":\"toggle\"}","mergecontext":"","output_location":"","output_location_type":"none","x":820,"y":250,"wires":[[]]},{"id":"eb441daa.8fc2d","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Light Mode","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"pilight/light\",\"payload\":\"rotate\"}","mergecontext":"","output_location":"","output_location_type":"none","x":820,"y":200,"wires":[[]]},{"id":"d463a327.cb14d","type":"trigger-state","z":"c9917d82.0f2bb","name":"Coffee Maker Using >15W","server":"dbd7e060.40c7f","entityid":"sensor.coffee_maker_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ssku5gsgheg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"unavailable"},{"id":"6yme8udtuxc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"str","comparatorValue":"15"},{"id":"rtm10oy32uh","targetType":"entity_id","targetValue":"switch.coffee_maker","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":220,"y":650,"wires":[["95484d2d.af331","e5c53ea1.4dfd1"],["a845a49d.d1c678","4ed3a3b.2d6d95c"]]},{"id":"de383de8.cf5cc","type":"api-call-service","z":"c9917d82.0f2bb","name":"Set State to Brewing","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"hass/state/coffee\",\"payload\":\"Brewing\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":700,"wires":[[]]},{"id":"9aee4270.351d","type":"api-call-service","z":"c9917d82.0f2bb","name":"Set State to Idle","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"hass/state/coffee\",\"payload\":\"Idle\",\"retain\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","x":980,"y":525,"wires":[[]]},{"id":"4b55a81f.bc95f8","type":"api-call-service","z":"c9917d82.0f2bb","name":"Say It","server":"dbd7e060.40c7f","service_domain":"rest_command","service":"assistant_relay","data":"{\"message\":\"{{{ payload }}}\",\"broadcast\":true}","mergecontext":"","output_location":"","output_location_type":"none","x":990,"y":740,"wires":[[]]},{"id":"cc6e683b.df6698","type":"api-current-state","z":"c9917d82.0f2bb","name":"If State is Brewing","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"Idle","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.coffee_maker_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":740,"y":600,"wires":[["9aee4270.351d","8ac6a1ba.ae68","27b5b341.f4abdc"],[]]},{"id":"27b5b341.f4abdc","type":"function","z":"c9917d82.0f2bb","name":"Pick Random Message","func":"let messages = [\n    \"Coffee's ready\",\n    'Coffee is done brewing.'\n]\nmsg.payload = messages[Math.floor(Math.random() * messages.length)]\nreturn msg;","outputs":1,"noerr":0,"x":1035,"y":675,"wires":[["4b55a81f.bc95f8"]]},{"id":"8ac6a1ba.ae68","type":"api-call-service","z":"c9917d82.0f2bb","name":"Turn off Coffee Maker","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.coffee_maker\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1000,"y":575,"wires":[[]]},{"id":"95484d2d.af331","type":"change","z":"c9917d82.0f2bb","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":600,"wires":[["a845a49d.d1c678"]]},{"id":"a845a49d.d1c678","type":"trigger","z":"c9917d82.0f2bb","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"topic","name":"Wait 10s","x":560,"y":625,"wires":[["cc6e683b.df6698"]]},{"id":"4ed3a3b.2d6d95c","type":"change","z":"c9917d82.0f2bb","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":700,"wires":[["e5c53ea1.4dfd1"]]},{"id":"e5c53ea1.4dfd1","type":"trigger","z":"c9917d82.0f2bb","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","bytopic":"topic","name":"Wait 10s","x":560,"y":675,"wires":[["de383de8.cf5cc"]]},{"id":"41d9410e.f76b2","type":"server-state-changed","z":"c9917d82.0f2bb","name":"Manually Switched","server":"dbd7e060.40c7f","version":1,"entityidfilter":"switch.coffee_maker","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":575,"wires":[["589dbcc4.e40b34","95484d2d.af331","4ed3a3b.2d6d95c"],[]]},{"id":"543bca89.0f8254","type":"api-current-state","z":"b046dde1.74b8c","name":"Call Brightness 0 Scene","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.living_room_brightness","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":100,"wires":[["3853fc42.152364"],["61348710.046bb8"]]},{"id":"3b288424.10412c","type":"api-current-state","z":"34fd99c6.f3add6","name":"Call Brightness 5 Scene","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.living_room_brightness","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":210,"y":100,"wires":[["bd2c5486.eac818"],["c7ddd2a5.f85df"]]},{"id":"d3d9198d.e98de8","type":"api-call-service","z":"2df69a17.a6a286","name":"","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"send_message","data":"{\"disable_web_page_preview\":true,\"target\":\"-324068858\",\"title\":\"<b>DockerHub Image Update</b>\",\"message\":\"<a href=\\\"{{ article.link }}\\\">{{ article.title }}</a> has been released on DockerHub.\",\"parse_mode\":\"html\"}","mergecontext":"","output_location":"","output_location_type":"none","x":665,"y":225,"wires":[[]]},{"id":"3307aa9c.a214e6","type":"delay","z":"2df69a17.a6a286","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":225,"wires":[["d3d9198d.e98de8"]]},{"id":"f17d6b6f.d72838","type":"feedparse","z":"56e651e8.b2b28","name":"PiHole","url":"https://rss.home.gabe565.com/pihole/pihole.atom?includeRegex=%5E%5B%5Cd%5C.%5D*%24","interval":"180","x":200,"y":100,"wires":[[]]},{"id":"58775653.2493d8","type":"feedparse","z":"56e651e8.b2b28","name":"acme-dns","url":" https://rss.home.gabe565.com/joohoi/acme-dns.atom?includeRegex=%5Ev%5B%5Cd%5C.%5D*%24","interval":"180","x":210,"y":150,"wires":[[]]},{"id":"ed0120bf.8e382","type":"feedparse","z":"56e651e8.b2b28","name":"InfluxDB","url":" https://rss.home.gabe565.com/_/influxdb.atom?include=latest","interval":"180","x":210,"y":200,"wires":[[]]},{"id":"602fd367.0b6a0c","type":"server-events","z":"2df69a17.a6a286","name":"","server":"dbd7e060.40c7f","event_type":"telegram_callback","x":210,"y":875,"wires":[["b1747214.9941f"]]},{"id":"ec1a3b9e.bdedd8","type":"trigger-state","z":"2df69a17.a6a286","name":"Nobody Home","server":"dbd7e060.40c7f","entityid":"group.all_devices","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"73u2eacmue","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":105,"y":725,"wires":[["a9ba8134.f6b85"],["b78008e5.c63fd8"]]},{"id":"b78008e5.c63fd8","type":"trigger","z":"2df69a17.a6a286","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"min","reset":"off","bytopic":"topic","name":"","x":345,"y":725,"wires":[["de763632.3a0748"]]},{"id":"a9ba8134.f6b85","type":"change","z":"2df69a17.a6a286","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":674,"wires":[["b78008e5.c63fd8"]]},{"id":"de763632.3a0748","type":"ha-get-entities","z":"2df69a17.a6a286","server":"dbd7e060.40c7f","name":"Get Lights","rules":[{"property":"entity_id","logic":"in_group","value":"group.indoor_lights","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"lights","output_results_count":1,"x":445,"y":575,"wires":[["4c359e20.48c9a"]]},{"id":"8e4fd0f5.520b1","type":"inject","z":"2df69a17.a6a286","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":575,"wires":[["de763632.3a0748"]]},{"id":"b1747214.9941f","type":"switch","z":"2df69a17.a6a286","name":"","property":"payload.event.data","propertyType":"msg","rules":[{"t":"eq","v":"/powerofflights","vt":"str"},{"t":"eq","v":"/dismiss","vt":"str"},{"t":"eq","v":"/ecoenable","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":400,"y":875,"wires":[["42b73337.9ff07c"],["d790a363.16a2c"],["145582bf.87374d"]]},{"id":"94cc71dd.4192d","type":"api-call-service","z":"2df69a17.a6a286","name":"Turn Off Indoor Lights","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.indoor_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","x":775,"y":825,"wires":[["1e543356.4d577d"]]},{"id":"c9a23fe.f43adc","type":"api-call-service","z":"2df69a17.a6a286","name":"Edit Message","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"edit_message","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1280,"y":1025,"wires":[[]]},{"id":"5f1ecbda.664aa4","type":"api-call-service","z":"2df69a17.a6a286","name":"Dismiss Inline Keyboard","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"edit_replymarkup","data":"{\"chat_id\":\"{{ payload.event.chat_id }}\",\"message_id\":\"{{ payload.event.message.message_id }}\",\"inline_keyboard\":[]}","mergecontext":"","output_location":"","output_location_type":"none","x":785,"y":875,"wires":[[]]},{"id":"d790a363.16a2c","type":"api-call-service","z":"2df69a17.a6a286","name":"Send Callback","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"answer_callback_query","data":"{\"message\":\"Dismissed Message\",\"callback_query_id\":\"{{ payload.event.id }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":575,"y":875,"wires":[["5f1ecbda.664aa4"]]},{"id":"5d558356.bdbb0c","type":"api-call-service","z":"2df69a17.a6a286","name":"Enable Eco Mode","server":"dbd7e060.40c7f","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.hallway\",\"operation_mode\":\"eco\"}","mergecontext":"","output_location":"","output_location_type":"none","x":765,"y":925,"wires":[["a497dc1b.0aa76"]]},{"id":"af632c3d.48b3d","type":"api-call-service","z":"d736294e.f02228","name":"Match Brightness on Toilet Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_bathroom_toilet_light\",\"brightness\":\"{{ data.new_state.attributes.brightness }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":755,"y":900,"wires":[[]]},{"id":"8af4e917.2efc08","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Toilet Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.master_bathroom_toilet_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":715,"y":1075,"wires":[[]]},{"id":"eb9b6fa2.d4ead","type":"api-call-service","z":"d736294e.f02228","name":"Match Brightness on Shower Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.master_bathroom_shower_light\",\"brightness\":\"{{ data.new_state.attributes.brightness }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":765,"y":950,"wires":[[]]},{"id":"216ef8f7.a68bc8","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Shower Light","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.master_bathroom_shower_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":725,"y":1125,"wires":[[]]},{"id":"845e662a.4c8448","type":"trigger-state","z":"d736294e.f02228","name":"Master Bedroom Pico","server":"dbd7e060.40c7f","entityid":"sensor.master_bedroom_pico","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":7,"customoutputs":[{"outputId":"6tp4ha9cjhw","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"1"},{"outputId":"0f22gsoj6n7h","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"8"},{"outputId":"3act32owv9p","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"2"},{"outputId":"qzvwmqopicm","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"16"},{"outputId":"hql73ovayp","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"4"}],"outputinitially":false,"state_type":"str","x":325,"y":337,"wires":[[],[],["8c6b096d.3a15d8"],["156ce2d2.62e4bd"],["94e6539a.7d548"],["6b89a39c.2d9dcc"],["275224c7.67874c"]]},{"id":"145582bf.87374d","type":"api-call-service","z":"2df69a17.a6a286","name":"Send Callback","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"answer_callback_query","data":"{\"message\":\"Enabled Eco Mode\",\"callback_query_id\":\"{{ payload.event.id }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":575,"y":925,"wires":[["5d558356.bdbb0c"]]},{"id":"42b73337.9ff07c","type":"api-call-service","z":"2df69a17.a6a286","name":"Send Callback","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"answer_callback_query","data":"{\"message\":\"Powered Off Indoor Lights\",\"callback_query_id\":\"{{ payload.event.id }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":576,"y":825,"wires":[["94cc71dd.4192d"]]},{"id":"4c359e20.48c9a","type":"api-call-service","z":"2df69a17.a6a286","name":"Send Telegram Message","server":"dbd7e060.40c7f","service_domain":"telegram_bot","service":"send_message","data":"{\"message\":\"Nobody is home but {{ lights.length }} lights are still on.\\nLights left on are:{{ #lights }}\\n  {{ attributes.friendly_name }}{{ /lights }}\",\"inline_keyboard\":[[[\" Power All Off\",\"/powerofflights\"]],[[\" Enable Nest Eco Mode\",\"/ecoenable\"]],[[\" Dismiss\",\"/dismiss\"]]]}","mergecontext":"","output_location":"","output_location_type":"none","x":660,"y":575,"wires":[[]]},{"id":"d42e004d.9c079","type":"function","z":"2df69a17.a6a286","name":"Remove Light List","func":"let start = msg.text.indexOf('\\nLights left on are:'),\n    end = msg.text.indexOf('\\nEDIT', start)\nmsg.text = msg.text.substring(0, start) + msg.text.substring(end)\nreturn msg","outputs":1,"noerr":0,"x":1115,"y":825,"wires":[["5b99d0d8.c1d81"]]},{"id":"5b99d0d8.c1d81","type":"function","z":"2df69a17.a6a286","name":"Build Inline Keyboard","func":"msg.inline_keyboard = []\n\nif (!msg.text.includes('EDIT: Powered off all lights.'))\n    msg.inline_keyboard.push([\n        [\n            \" Power All Off\",\n            \"/powerofflights\"\n        ]\n    ])\n\nif (!msg.text.includes('EDIT: Turned on Nest Eco mode.'))\n    msg.inline_keyboard.push([\n        [\n            \" Enable Nest Eco Mode\",\n            \"/ecoenable\"\n        ]\n    ])\n\nif (msg.inline_keyboard.length > 0)\n    msg.inline_keyboard.push([\n        [\n            \" Dismiss\",\n            \"/dismiss\"\n        ]\n    ])\n\nreturn msg","outputs":1,"noerr":0,"x":1250,"y":925,"wires":[["83d02352.36e71"]]},{"id":"83d02352.36e71","type":"function","z":"2df69a17.a6a286","name":"Create JSON","func":"msg.payload.data = {\n    \"chat_id\": msg.payload.event.chat_id,\n    \"message_id\": msg.payload.event.message.message_id,\n    \"message\": msg.text,\n    \"inline_keyboard\": msg.inline_keyboard\n}\n\nreturn msg","outputs":1,"noerr":0,"x":1245,"y":975,"wires":[["c9a23fe.f43adc"]]},{"id":"1e543356.4d577d","type":"template","z":"2df69a17.a6a286","name":"EDIT","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.event.message.text }}\nEDIT: Powered off all lights.","output":"str","x":950,"y":825,"wires":[["d42e004d.9c079"]]},{"id":"a497dc1b.0aa76","type":"template","z":"2df69a17.a6a286","name":"EDIT","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ payload.event.message.text }}\nEDIT: Turned on Nest Eco mode.","output":"str","x":950,"y":925,"wires":[["5b99d0d8.c1d81"]]},{"id":"f4092a7e.682908","type":"feedparse","z":"56e651e8.b2b28","name":"assistant-relay","url":"https://rss.home.gabe565.com/kmlucy/docker-assistant-relay.atom","interval":"180","x":220,"y":250,"wires":[[]]},{"id":"79570869.5f9fa8","type":"feedparse","z":"56e651e8.b2b28","name":"Grafana","url":"https://rss.home.gabe565.com/grafana/grafana.atom?include=latest","interval":"180","x":210,"y":300,"wires":[[]]},{"id":"86a37471.563048","type":"feedparse","z":"56e651e8.b2b28","name":"MariaDB","url":"https://rss.home.gabe565.com/_/mariadb.atom?include=latest","interval":"180","x":210,"y":350,"wires":[[]]},{"id":"2d0f5d28.7e3ec2","type":"feedparse","z":"56e651e8.b2b28","name":"mosquitto","url":"https://rss.home.gabe565.com/_/eclipse-mosquitto.atom","interval":"180","x":210,"y":400,"wires":[[]]},{"id":"5b479ef5.953b8","type":"feedparse","z":"56e651e8.b2b28","name":"OpenLDAP","url":"https://rss.home.gabe565.com/osixia/openldap.atom?includeRegex=%5E%5B%5Cd%5C.%5D*%24","interval":"180","x":220,"y":450,"wires":[[]]},{"id":"e94a9dab.3043e","type":"feedparse","z":"56e651e8.b2b28","name":"Plex","url":"https://rss.home.gabe565.com/plexinc/pms-docker.atom?includeRegex=%5E%5B%5Cd%5C.%5D*-.*%24","interval":"180","x":200,"y":500,"wires":[[]]},{"id":"b575230a.48a4f","type":"feedparse","z":"56e651e8.b2b28","name":"Syncthing","url":"https://rss.home.gabe565.com/syncthing/syncthing.atom?includeRegex=%5Ev%5B%5Cd%5C.%5D*%24","interval":"180","x":210,"y":550,"wires":[[]]},{"id":"73d7322e.02ae7c","type":"feedparse","z":"56e651e8.b2b28","name":"openvpn-client","url":"https://rss.home.gabe565.com/dperson/openvpn-client.atom?include=latest","interval":"180","x":230,"y":600,"wires":[[]]},{"id":"3d566143.23c98e","type":"feedparse","z":"56e651e8.b2b28","name":"logspout","url":"https://rss.home.gabe565.com/gliderlabs/logspout.atom?include=master","interval":"180","x":210,"y":650,"wires":[[]]},{"id":"a7350855.026988","type":"feedparse","z":"56e651e8.b2b28","name":"Nextcloud","url":"https://rss.home.gabe565.com/_/nextcloud.atom?include=fpm-alpine","interval":"180","x":210,"y":700,"wires":[[]]},{"id":"609d44d3.d8456c","type":"feedparse","z":"56e651e8.b2b28","name":"Portainer","url":"https://rss.home.gabe565.com/portainer/portainer.atom?include=latest","interval":"180","x":210,"y":750,"wires":[[]]},{"id":"cc1b755c.850428","type":"api-call-service","z":"d736294e.f02228","name":"Toggle Shower Light","server":"dbd7e060.40c7f","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.master_bathroom_shower_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":1500,"wires":[[]]},{"id":"bada9d90.16136","type":"switch","z":"d736294e.f02228","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d0002f81985","vt":"str"},{"t":"eq","v":"binary_sensor.switch_158d00026b5880","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":525,"y":1525,"wires":[["cc1b755c.850428"],["ee4a2e5c.3718b"]]},{"id":"ee4a2e5c.3718b","type":"api-call-service","z":"d736294e.f02228","name":"Toggle Toilet Light","server":"dbd7e060.40c7f","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.master_bathroom_toilet_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":740,"y":1550,"wires":[[]]},{"id":"d5213bd.af03cc8","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"Living Room Fan State Changed","server":"dbd7e060.40c7f","entityid":"fan.living_room","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"53bj9z2cshg","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on"},{"outputId":"q993hc8a0o","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off"}],"outputinitially":false,"state_type":"str","x":230,"y":1425,"wires":[[],[],["4ebe207c.e2db5"],["d02f2679.233948"]]},{"id":"cd5d7033.847a6","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Toggle Fan","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{\"topic\":\"pilight/fan\",\"payload\":\"toggle\"}","mergecontext":"","output_location":"","output_location_type":"none","x":670,"y":1450,"wires":[[]]},{"id":"4ebe207c.e2db5","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Set Speed","server":"dbd7e060.40c7f","service_domain":"mqtt","service":"publish","data":"{    \"topic\": \"pilight/fan\",    \"payload\": \"speed-{{ data.event.new_state.attributes.direction }}-{{ data.event.new_state.attributes.speed }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":490,"y":1400,"wires":[[]]},{"id":"d02f2679.233948","type":"switch","z":"a7dd54ef.2d2f48","name":"If old_state Was Off","property":"data.event.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":485,"y":1450,"wires":[["cd5d7033.847a6"]]},{"id":"5b2ffdcd.062954","type":"function","z":"d736294e.f02228","name":"Event Filtering","func":"if (msg.data.new_state.context.user_id !== null)\n    return null\n\nif (msg.payload === 'on')\n    return [msg, null]\nelse\n    return [null, msg]","outputs":2,"noerr":0,"x":480,"y":1000,"wires":[["af632c3d.48b3d","eb9b6fa2.d4ead"],["8af4e917.2efc08","216ef8f7.a68bc8"]]},{"id":"e780bfb6.a0064","type":"server-state-changed","z":"d736294e.f02228","name":"When Bath Vanity Lights State Changes","server":"dbd7e060.40c7f","version":"1","entityidfilter":"light.master_bathroom_vanity_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":175,"y":925,"wires":[["5b2ffdcd.062954"]]},{"id":"2c77e326.d49eec","type":"api-call-service","z":"d736294e.f02228","name":"Match Brightness on Lamps","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":[\"light.master_bedroom\"],\"brightness\":\"{{ data.new_state.attributes.brightness }}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":763,"y":1682,"wires":[[]]},{"id":"59297e37.5c032","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Lamps","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.master_bedroom\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":723,"y":1742,"wires":[[]]},{"id":"abb4bded.72501","type":"function","z":"d736294e.f02228","name":"Event Filtering","func":"if (msg.data.new_state.context.user_id !== null)\n    return null\n\nif (msg.payload === 'on')\n    return [msg, null]\nelse\n    return [null, msg]","outputs":2,"noerr":0,"x":503,"y":1712,"wires":[["2c77e326.d49eec"],["59297e37.5c032"]]},{"id":"70d3f2de.e989dc","type":"server-state-changed","z":"d736294e.f02228","name":"When Ceiling Fan Light State Changes","server":"dbd7e060.40c7f","version":1,"entityidfilter":"light.master_bedroom_ceiling_fan_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":233,"y":1712,"wires":[["abb4bded.72501"]]},{"id":"9bcdb546.456638","type":"api-current-state","z":"5d39e8a2.e45e18","name":"If State is Running","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"Idle","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sensor.washer_state","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":590,"y":170,"wires":[["ebb56a7.92e9f98"],[]]},{"id":"bd2c5486.eac818","type":"api-call-service","z":"34fd99c6.f3add6","name":"Activate Scene","server":"dbd7e060.40c7f","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_brightness_{{ payload }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":460,"y":60,"wires":[[]]},{"id":"3853fc42.152364","type":"api-call-service","z":"b046dde1.74b8c","name":"Activate Scene","server":"dbd7e060.40c7f","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_brightness_{{ payload }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":460,"y":60,"wires":[[]]},{"id":"28497bed.b7a8c4","type":"subflow:ce20f928.4bec78","z":"d736294e.f02228","name":"Match Lamps to Ceiling Fan Light","env":[],"x":1215,"y":350,"wires":[]},{"id":"3b154f33.53b2e","type":"subflow:fdb32abc.0fae78","z":"d736294e.f02228","name":"","env":[],"x":790,"y":400,"wires":[["28497bed.b7a8c4"]]},{"id":"cdadeb64.9b2fd8","type":"subflow:3f8141f0.1bdbae","z":"d736294e.f02228","name":"","env":[],"x":790,"y":300,"wires":[["28497bed.b7a8c4"]]},{"id":"ca82d7e5.051458","type":"subflow:2c413a07.e4d2b6","z":"a7dd54ef.2d2f48","name":"Raise Brightness","env":[],"x":915,"y":975,"wires":[]},{"id":"5c498847.ea3848","type":"subflow:d08440a8.4ef58","z":"a7dd54ef.2d2f48","name":"Lower Brightness","env":[],"x":915,"y":1050,"wires":[]},{"id":"a32efcba.5b1f3","type":"subflow:34fd99c6.f3add6","z":"a7dd54ef.2d2f48","name":"Max Brightness","env":[],"x":905,"y":925,"wires":[]},{"id":"288d2003.73402","type":"subflow:b046dde1.74b8c","z":"a7dd54ef.2d2f48","name":"Min Brightness","env":[],"x":905,"y":1100,"wires":[]},{"id":"6e131195.1486f","type":"subflow:56e651e8.b2b28","z":"2df69a17.a6a286","name":"RSS Updated","env":[],"x":220,"y":225,"wires":[["3307aa9c.a214e6"]],"icon":"node-red/feed.png"},{"id":"ad2e1afc.3e8e68","type":"function","z":"c9917d82.0f2bb","name":"Event Filtering","func":"if (msg.data.new_state.context.user_id !== null)\n    return null\n\nif (msg.payload === 'on')\n    return [msg, null]\nelse\n    return [null, msg]","outputs":2,"noerr":0,"x":480,"y":200,"wires":[["3f04281e.5c8338"],["af081c7c.26015"]]},{"id":"2ef0a7f3.0c3428","type":"server-state-changed","z":"c9917d82.0f2bb","name":"When Main Light State Changes","server":"dbd7e060.40c7f","version":"1","entityidfilter":"light.kitchen_main_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":230,"y":200,"wires":[["ad2e1afc.3e8e68"]]},{"id":"a1505952.8c00f8","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Turn Off Flux","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"{{ flux }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1195,"y":625,"wires":[["cfc38091.9bf7b"]]},{"id":"1f21e150.25455f","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Turn On Flux","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"{{ flux }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1720,"y":625,"wires":[[]]},{"id":"f91b8b05.3292a8","type":"delay","z":"a7dd54ef.2d2f48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1560,"y":625,"wires":[["1f21e150.25455f"]]},{"id":"6586b914.0a18d8","type":"api-call-service","z":"34fd99c6.f3add6","name":"","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_light_group\",\"brightness\":255}","mergecontext":"","output_location":"","output_location_type":"none","x":215,"y":275,"wires":[[]]},{"id":"4947e422.6ec68c","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room_light_group\",\"brightness\":255,\"transition\":1.5}","mergecontext":"","output_location":"","output_location_type":"none","x":465,"y":925,"wires":[[]]},{"id":"f52f122a.f7f73","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_light_group\",\"transition\":1.5}","mergecontext":"","output_location":"","output_location_type":"none","x":465,"y":1100,"wires":[[]]},{"id":"3860f26b.7a39ae","type":"api-call-service","z":"2c413a07.e4d2b6","name":"Increment Brightness","server":"dbd7e060.40c7f","service_domain":"input_number","service":"increment","data":"{\"entity_id\":\"input_number.living_room_brightness\"}","mergecontext":"","output_location":"","output_location_type":"none","x":725,"y":500,"wires":[["1cc8576c.bf9e19"]]},{"id":"9146c28c.aa1dc","type":"api-current-state","z":"2c413a07.e4d2b6","name":"Quit if Remote Value Changed","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"8","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_pico","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":230,"y":475,"wires":[["23e6d15d.ac1e1e"],[]]},{"id":"1cc8576c.bf9e19","type":"delay","z":"2c413a07.e4d2b6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485,"y":400,"wires":[["9146c28c.aa1dc"]]},{"id":"23e6d15d.ac1e1e","type":"api-current-state","z":"2c413a07.e4d2b6","name":"If not Max","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"input_number.living_room_brightness","state_type":"num","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":485,"y":500,"wires":[["3860f26b.7a39ae"],[]]},{"id":"fc01143f.017118","type":"change","z":"3f8141f0.1bdbae","name":"Set Template String","rules":[{"t":"set","p":"template","pt":"msg","to":"\"{{ (state_attr('\" & light & \"', 'brightness') or 0) + 51 }}\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":200,"wires":[["2f68f9c1.c36856"]]},{"id":"156ce2d2.62e4bd","type":"change","z":"d736294e.f02228","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.master_bedroom","tot":"str"},{"t":"set","p":"circadian_lighting","pt":"msg","to":"switch.circadian_lighting_master_bedroom_lamps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["cdadeb64.9b2fd8"]]},{"id":"bd7128f0.46df48","type":"change","z":"3f8141f0.1bdbae","name":"Set payload to topic","rules":[{"t":"set","p":"brightness","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":topic}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":225,"y":125,"wires":[["76e3293a.cfd148"]]},{"id":"6b89a39c.2d9dcc","type":"change","z":"d736294e.f02228","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.master_bedroom","tot":"str"},{"t":"set","p":"circadian_lighting","pt":"msg","to":"switch.circadian_lighting_master_bedroom_lamps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["3b154f33.53b2e"]]},{"id":"af58a3f6.6f3ea","type":"api-call-service","z":"fdb32abc.0fae78","name":"Turn Down Lamp Group","server":"dbd7e060.40c7f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"{{ light }}\",\"brightness\":\"{{ payload }}\",\"transition\":1}","mergecontext":"","output_location":"","output_location_type":"none","x":735,"y":175,"wires":[["ed6c319f.0b6d5"]]},{"id":"3bf7c54e.5464ca","type":"api-render-template","z":"fdb32abc.0fae78","name":"Get Next Brightness","server":"dbd7e060.40c7f","template":"","x":475,"y":250,"wires":[["af58a3f6.6f3ea"]]},{"id":"19e7891b.776467","type":"api-current-state","z":"fdb32abc.0fae78","name":"Quit if Remote Value Changed","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"16","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":455,"y":125,"wires":[[],["5d7b8db7.32aad4"]]},{"id":"ed6c319f.0b6d5","type":"delay","z":"fdb32abc.0fae78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":75,"wires":[["505d39d2.0b7188"]]},{"id":"559cb342.d946bc","type":"change","z":"fdb32abc.0fae78","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"\"{{ (state_attr('\" & light & \"', 'brightness') or 0) - 51 }}\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":215,"y":200,"wires":[["3bf7c54e.5464ca"]]},{"id":"505d39d2.0b7188","type":"change","z":"fdb32abc.0fae78","name":"","rules":[{"t":"set","p":"brightness","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":topic}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":155,"y":125,"wires":[["19e7891b.776467"]]},{"id":"c86bc459.0748e8","type":"subflow:3f8141f0.1bdbae","z":"a7dd54ef.2d2f48","name":"","env":[],"x":650,"y":975,"wires":[[]]},{"id":"c5ebf210.f2f67","type":"subflow:fdb32abc.0fae78","z":"a7dd54ef.2d2f48","name":"","env":[],"x":640,"y":1050,"wires":[[]]},{"id":"edd056c0.be38d8","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.living_room","tot":"str"},{"t":"set","p":"circadian_lighting","pt":"msg","to":"switch.circadian_lighting_living_room_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":455,"y":975,"wires":[["c86bc459.0748e8"]]},{"id":"92106857.d2f868","type":"change","z":"a7dd54ef.2d2f48","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"light.living_room","tot":"str"},{"t":"set","p":"circadian_lighting","pt":"msg","to":"switch.circadian_lighting_living_room_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":455,"y":1050,"wires":[["c5ebf210.f2f67"]]},{"id":"e5a0658c.283b48","type":"debug","z":"3f8141f0.1bdbae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675,"y":300,"wires":[]},{"id":"2a23791b.51d4d6","type":"change","z":"3f8141f0.1bdbae","name":"Add to brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"brightness + 61","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":175,"wires":[["e9550a35.037488"]]},{"id":"4c3070e.9e97c9","type":"api-call-service","z":"3f8141f0.1bdbae","name":"Turn off Circadian Lighting","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"{{ circadian_lighting }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":245,"y":350,"wires":[[]]},{"id":"324446ed.4d79ea","type":"api-call-service","z":"3f8141f0.1bdbae","name":"Turn on Circadian Lighting","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"{{ circadian_lighting }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":770,"y":575,"wires":[[]]},{"id":"5d7b8db7.32aad4","type":"change","z":"fdb32abc.0fae78","name":"Remove from brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"brightness - 61","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":175,"wires":[["af58a3f6.6f3ea","48aa5bc4.e709e4"]]},{"id":"29c4cc0f.9fead4","type":"api-call-service","z":"fdb32abc.0fae78","name":"Turn off Circadian Lighting","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"{{ circadian_lighting }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":245,"y":350,"wires":[[]]},{"id":"9ae02a73.216918","type":"api-call-service","z":"fdb32abc.0fae78","name":"Turn on Circadian Lighting","server":"dbd7e060.40c7f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"{{ circadian_lighting }}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":770,"y":575,"wires":[[]]},{"id":"48aa5bc4.e709e4","type":"debug","z":"fdb32abc.0fae78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":825,"y":375,"wires":[]},{"id":"589dbcc4.e40b34","type":"trigger","z":"c9917d82.0f2bb","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"","bytopic":"topic","name":"Wait 10s","x":560,"y":525,"wires":[["9aee4270.351d"]]},{"id":"f3ad1f94.6d67e","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Raise Lights","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\",\"brightness_pct\":100,\"transition\":15}","mergecontext":"","output_location":"","output_location_type":"none","x":745,"y":1675,"wires":[[]]},{"id":"331a982e.883108","type":"switch","z":"a7dd54ef.2d2f48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":1650,"wires":[["2ef45876.2c6708"],["c0598f44.f26e5"]]},{"id":"c11fd0f0.f48d9","type":"api-call-service","z":"a7dd54ef.2d2f48","name":"Dim Lights","server":"dbd7e060.40c7f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.living_room\",\"brightness_pct\":25,\"transition\":15}","mergecontext":"","output_location":"","output_location_type":"none","x":895,"y":1625,"wires":[[]]},{"id":"c0598f44.f26e5","type":"switch","z":"a7dd54ef.2d2f48","name":"","property":"data.event.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":575,"y":1675,"wires":[["f3ad1f94.6d67e"]]},{"id":"2ef45876.2c6708","type":"api-current-state","z":"a7dd54ef.2d2f48","name":"","server":"dbd7e060.40c7f","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":655,"y":1625,"wires":[["c11fd0f0.f48d9"],[]]},{"id":"d9e06f7e.6676e","type":"trigger-state","z":"a7dd54ef.2d2f48","name":"","server":"dbd7e060.40c7f","entityid":"media_player.shield","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"24kwhz1re1","targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"mn6xkllo6tr","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.app_name","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Spotify"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":165,"y":1650,"wires":[[],[]]},{"id":"ef12aab2.9be568","type":"api-call-service","z":"d736294e.f02228","name":"Play Thunderstorm Sounds","server":"dbd7e060.40c7f","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.master_bedroom_group\",\"media_content_id\":\"http://www.gstatic.com/voice_delight/sounds/long/thunder.mp3\",\"media_content_type\":\"music\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1940,"wires":[[]]},{"id":"4dcfb814.f803c8","type":"api-call-service","z":"d736294e.f02228","name":"Play Oscillating Fan Sounds","server":"dbd7e060.40c7f","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.master_bedroom_group\",\"media_content_id\":\"http://www.gstatic.com/voice_delight/sounds/long/oscillating_fan.mp3\",\"media_content_type\":\"music\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1980,"wires":[[]]},{"id":"cb238a12.050e88","type":"api-call-service","z":"d736294e.f02228","name":"Select Off","server":"dbd7e060.40c7f","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.master_bedroom_relax_sounds\",\"option\":\"Off\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":2100,"wires":[[]]},{"id":"c584d473.4b4488","type":"api-call-service","z":"d736294e.f02228","name":"Turn Off Group","server":"dbd7e060.40c7f","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\":\"media_player.master_bedroom_group\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":2020,"wires":[[]]},{"id":"28a1378c.73ee68","type":"trigger-state","z":"d736294e.f02228","name":"If Group Turns Off or Pauses","server":"dbd7e060.40c7f","entityid":"media_player.master_bedroom_group","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"nh2wwfcuujs","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"re","comparatorValue":"^(?:off|paused)$"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":320,"y":2100,"wires":[["f63b9e36.f043a"],["c2549f55.01b14"]]},{"id":"2bae76ba.4b66da","type":"api-current-state","z":"d736294e.f02228","name":"Get Sound Selected","server":"dbd7e060.40c7f","version":1,"outputs":2,"halt_if":"Off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.master_bedroom_relax_sounds","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1940,"wires":[["d18469b4.8521b8"],[]]},{"id":"8477fed6.56725","type":"server-state-changed","z":"d736294e.f02228","name":"Master Bedroom Relax Sounds Changed","server":"dbd7e060.40c7f","version":1,"entityidfilter":"input_select.master_bedroom_relax_sounds","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":380,"y":2020,"wires":[["d18469b4.8521b8"]]},{"id":"9ae056b3.cd3d48","type":"server-state-changed","z":"d736294e.f02228","name":"Master Bedroom Media State Changed","server":"dbd7e060.40c7f","version":1,"entityidfilter":"media_player.master_bedroom_group","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":1940,"wires":[["2bae76ba.4b66da"],[]]},{"id":"d18469b4.8521b8","type":"switch","z":"d736294e.f02228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thunderstorm","vt":"str"},{"t":"eq","v":"Oscillating Fan","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":670,"y":1980,"wires":[["ef12aab2.9be568"],["4dcfb814.f803c8"],["c584d473.4b4488"]]},{"id":"f63b9e36.f043a","type":"trigger","z":"d736294e.f02228","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":660,"y":2100,"wires":[["cb238a12.050e88"]]},{"id":"c2549f55.01b14","type":"change","z":"d736294e.f02228","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2160,"wires":[["f63b9e36.f043a"]]}]